<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/cart2.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <iframe class="ifHeader" src="http://localhost:3000/header" frameborder="0" hspace="0" vspace="0"
            marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </header>
    <section class="heading">
        <p>CARRITO DE COMPRAS</p>
    </section>

    <main>
        <div class="steps">
            <div class="step-one">
                <p>PASO 1</p>
                <p>Carrito de compra</p>
            </div>
            <i class="fas fa-angle-double-right"></i>
            <div class="step-two">
                <p>PASO 2</p>
                <p>Completar datos</p>
            </div>
            <i class="fas fa-angle-double-right"></i>
            <div class="step-three">
                <p>PASO 3</p>
                <p>Finalizar compra</p>
            </div>
        </div>

        <section class="container">
            <div class="contact-info">
                <div class="contact-title">
                    <p>DATOS DE CONTACTO</p>
                </div>
                <form action="#" method="GET">
                    <label for="name">Nombre(s) *</label>
                    <input type="text" name="name" id="name" required>

                    <label for="lastname">Apellido(s) *</label>
                    <input type="text" name="lastname" id="lastname" required>

                    <label for="email">Correo electrónico *</label>
                    <input type="email" name="email" id="email" required>

                    <div class="phones">
                        <div>
                            <label for="tel">Teléfono</label>
                            <input type="number" name="tel" id="tel">
                        </div>
                        <div>
                            <label for="cel">Celular</label>
                            <input type="number" name="cel" id="cel">
                        </div>
                    </div>

                    <div class="countries">
                        <label>País/Región *</label>
                        <select name="country">
                            <option value="Argentina" selected>Argentina</option>
                        </select>
                    </div>

                    <div class="region">
                        <div>
                            <label for="province">Provincia *</label>
                            <input type="text" name="province" id="province" required>
                        </div>
                        <div>
                            <label for="location">Localidad *</label>
                            <input type="text" name="location" id="location" required>
                        </div>
                    </div>

                    <div class="adress">
                        <div>
                            <label for="number">Número *</label>
                            <input type="number" name="number" id="number" required>
                        </div>

                        <div>
                            <label for="floor">Piso</label>
                            <input type="number" name="floor" id="floor">
                        </div>

                        <div>
                            <label for="apt">Dpto</label>
                            <input type="text" name="apt" id="apt">
                        </div>

                        <div>
                            <label for="cp">CP *</label>
                            <input type="number" name="cp" id="cp" required>
                        </div>
                    </div>

                    <div class="radiobutton">
                        <div>
                            <input type="radio" name="shipping" value="delivery" id="delivery">
                            <label for="delivery">Envío a domicilio</label>
                        </div>
                        <div>
                            <input type="radio" name="shipping" value="branch" id="branch">
                            <label for="branch">Retiro por sucursal</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="order-section">
                <div class="order-title">
                    <p>TU ORDEN</p>
                </div>

                <article class="product">
                    <img src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="name-quantity">
                        <p class="name">Cookie de chocolate</p>
                        <p class="quantity">x 2</p>
                    </div>
                    <div class="cart-price">
                        <p class="price">$0.00</p>
                    </div>
                </article>

                <article class="product">
                    <img src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="name-quantity">
                        <p class="name">Cookie de avena</p>
                        <p class="quantity">x 1</p>
                    </div>
                    <div class="cart-price">
                        <p class="price">$0.00</p>
                    </div>
                </article>

                <article class="product">
                    <img src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="name-quantity">
                        <p class="name">Alfajor de maicena</p>
                        <p class="quantity">x 1</p>
                    </div>
                    <div class="cart-price">
                        <p class="price">$0.00</p>
                    </div>
                </article>

                <div class="continue-buying">
                    <div class="total-amount">
                        <div class="subtotal">
                            <p class="p1">Subtotal</p>
                            <p>$0.00</p>
                        </div>
                        <div class="bonus">
                            <p class="p1">Bonificación</p>
                            <p>$0.00</p>
                        </div>
                        <div class="shipping">
                            <p class="p1">Envío</p>
                            <p>$0.00</p>
                        </div>
                        <div class="total">
                            <p class="p1">TOTAL</p>
                            <p>$0.00</p>
                        </div>
                    </div>
    
                    <div class="buy">
                        <a href="/cart3"><button type="submit">CONTINUAR COMPRA</button></a>
                        <a href="/products">Ver más productos</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <iframe class="ifFooter" src="http://localhost:3000/footer" frameborder="0" hspace="0" vspace="0"
            marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </footer>
</body>

</html>