<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/cart1.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <iframe class="ifHeader" src="http://localhost:3000/header" frameborder="0" hspace="0" vspace="0"
            marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </header>
    <section class="heading">
        <p class="heading__p">CARRITO DE COMPRAS</p>
    </section>

    <main>
        <div class="step">
            <div class="step__one">
                <p>PASO 1</p>
                <p>Carrito de compra</p>
            </div>

            <div class="step__decoration">
                <div class="step__div-hr">
                    <hr class="step__hr">
                </div>
                <div class="step__div-icon">
                    <i class="step__icon far fa-circle"></i>
                </div>
                <div class="step__div-hr">
                    <hr class="step__hr">
                </div>
            </div>

            <div class="step__two">
                <p>PASO 2</p>
                <p>Completar datos</p>
            </div>

            <div class="step__decoration">
                <div class="step__div-hr">
                    <hr class="step__hr">
                </div>
                <div class="step__div-icon">
                    <i class="step__icon far fa-circle"></i>
                </div>
                <div class="step__div-hr">
                    <hr class="step__hr">
                </div>
            </div>

            <div class="step__three">
                <p>PASO 3</p>
                <p>Finalizar compra</p>
            </div>
        </div>

        <div class="product">
            <article class="product__article">
                <img class="product__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                <!-- <div class="product__info"> -->
                    <!-- <div class="product__div-name-price"> -->
                        <p class="product__name">Cookie de chocolate</p>
                        <p class="product__price">$0.00</p>
                    <!-- </div> -->
                     <div class="product__quantity">
                        <button class="product__button-less">
                            <i class="product__icon fas fa-minus"></i>
                        </button>
                        <span class="product__span">1</span>
                        <button class="product__button-add">
                            <i class="product__icon fas fa-plus"></i>
                        </button>
                    </div>
                <!-- </div> -->
                <!-- <div class="product__total"> -->
                    <button class="product__button-remove" type="reset">
                        <i class="product__icon-trash fas fa-trash-alt"></i>
                    </button>
                    <!-- <div class="product__div-total"> -->
                        <!-- <p class="product__total-title">Total</p> -->
                        <p class="product__price">$0.00</p>
                    <!-- </div> -->
                <!-- </div> -->
            </article>

            <article class="product__article">
                <img class="product__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                <div class="product__info">
                    <div class="product__div-name-price">
                        <p class="product__name">Cookie de avena</p>
                        <p class="product__price">$0.00</p>
                    </div>
                    <div class="product__quantity">
                        <button class="product__button-less">
                            <i class="product__icon fas fa-minus"></i>
                        </button>
                        <span class="product__span">1</span>
                        <button class="product__button-add">
                            <i class="product__icon fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="product__total">
                    <button class="product__button-remove" type="reset">
                        <i class="product__icon-trash fas fa-trash-alt"></i>
                    </button>
                    <div class="product__div-total">
                        <p class="product__total-title">Total</p>
                        <p class="product__price">$0.00</p>
                    </div>
                </div>
            </article>

            <article class="product__article">
                <img class="product__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                <div class="product__info">
                    <div class="product__div-name-price">
                        <p class="product__name">Alfajor de maicena</p>
                        <p class="product__price">$0.00</p>
                    </div>
                    <div class="product__quantity">
                        <button class="product__button-less">
                            <i class="product__icon fas fa-minus"></i>
                        </button>
                        <span class="product__span">1</span>
                        <button class="product__button-add">
                            <i class="product__icon fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="product__total">
                    <button class="product__button-remove" type="reset">
                        <i class="product__icon-trash fas fa-trash-alt"></i>
                    </button>
                    <div class="product__div-total">
                        <p class="product__total-title">Total</p>
                        <p class="product__price">$0.00</p>
                    </div>
                </div>
            </article>
        </div>

        <div class="container-code-checkout">
            <div class="code">
                <input class="code__input" type="text" placeholder="Ingresá tu código de descuento">
                <button class="code__button" type="submit">VALIDAR</button>
            </div>

            <div class="container-checkout-buy">
                <div class="checkout">
                    <div class="checkout__subtotal">
                        <p>Subtotal</p>
                        <p>$0.00</p>
                    </div>
                    <div class="checkout__bonus">
                        <p>Bonificación</p>
                        <p>$0.00</p>
                    </div>
                    <div class="checkout__total">
                        <p>TOTAL</p>
                        <p>$0.00</p>
                    </div>
                </div>

                <div class="buy">
                    <a class="buy__a" href="/cart2"><button class="buy__button" type="submit">INICIAR
                            COMPRA</button></a>
                    <a class="buy__a" href="/products">Ver más productos</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <iframe class="ifFooter" src="http://localhost:3000/footer" frameborder="0" hspace="0" vspace="0"
            marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </footer>
</body>

</html>