<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Bakery</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">           
            
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            <i class="fas fa-search"></i><input class="barraDeBusqueda" type="text" placeholder="Busca algo rico">            
            

            <nav>
                <div>
                    <a class="menuDesktop" href="">Inicio</a>
                    <a class="menuDesktop" href="./products">Productos</a><a href=""><i class="fas fa-shopping-bag"></i></a>
                    <a class="menuDesktop" href="./login">Contacto</a>
                    <a class="menuDesktop" href="./cursos">Cursos</a>
                </div>
            
                <div>
                    <a class="menuDesktop" href="./login">Ingresá</a></li><a><i class="fas fa-user"></i></a>
                    <a class="menuDesktop" href="./register">Registrate</a></li>
                                      
                </div>
            </nav>

    </header>

    <main class="main">
        <div>
           <h2 class="textoH2"> ¡Sweet Bakery es un lugar donde lo delicioso y lo riquisimo se combinan!</h2>
           <p class="conocenos2"><a class="conocenos" href="./nosotros">Conocenos!</a></p>
        </div>

    <section class="menu">
        <div class="imagenMenu">
            <a href="./products" class="textoMenu">PRODUCTOS</a>
            <p class="textoBajoMenu">Nuestra tienda online</p>
        </div>

        <div class="imagenMenu">
            <a href="./cursos" class="textoMenu">CURSOS</a>
            <p class="textoBajoMenu">Inscribite a nuestras clases</p>            
        </div>

        <div class="imagenMenu">
            <a href="./giftcard" class="textoMenu">GIFT CARD</a>
            <p class="textoBajoMenu">Regalá dulzura</p>            
        </div>
    </section>

        <div class="imagenFondo">
            <h3 class="textoFondo">Siempre es mejor con algo rico</h3>                        
        </div>

       
    </main>
            <footer>
			<div class="footer-nav">
				<div class="footer-menu">
					<section class="footer-logo">
						<a href="#"><img
							class="footer-logo"
							src="/images/logo-sweet-bakery-dorado.png"
						/></a>
					</section>
					<section class="footer-contacto">
						<ul>
							<li><h4>Contacto</h3></li>
							<li><i class="fas fa-map-marker-alt"></i> Calle falsa 123, Bs. As. Argentina</li>
							<li><i class="fas fa-phone-alt"></i> +5411-89446677</li>
							<li><i class="far fa-clock"></i> Lunes a domingo de 8:00 a 22:00</li>
							<li><i class="far fa-envelope"></i> info@sweetbakery.com</li>
						</ul>
					</section>
					<section class="footer-secciones">
						<ul>
							<li><h4>Secciones</h3></li>
							<li>Inicio</li>
							<li>Productos</li>
							<li>Cursos</li>
							<li>Nosotros</li>
							<li>Preguntas frecuentes</li>
						</ul>
					</section>
					<section class="footer-redes">
						<ul>
							<li class="footer-redes-texto">¡Suscribite a nuestra newsletter para recibir las últimas novedades y beneficios especiales!</li>
							<li><input type="text" placeholder="Dejanos tu e-mail"> <button>Suscribite</button></li>
							<li>
								<i class="fab fa-facebook"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
							</li>
						</ul>
					</section>
				</div>
				<section class="footer-firma">
					© Sweet bakery 2022. Todos los derechos reservados.
				</section>
			</div>
		</footer>

    



</body>

</html>