<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Bakery</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body class="body-home">
    <header>
        <iframe class="ifHeaderh" src="/headerh" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
            scrolling="no"></iframe>
    </header>

    <main class="main">
        <div>
            <h2 class="textoH2"> ¡Sweet Bakery es un lugar donde lo delicioso y lo riquisimo se combinan!</h2>
            <p class="conocenos2"><a class="conocenos" href="./nosotros">Conocenos!</a></p>
        </div>

        <section class="menu">
            <div class="imagenMenu">
                <a href="./products" class="textoMenu">PRODUCTOS</a>
                <p class="textoBajoMenu">Nuestra tienda online</p>
            </div>

            <div class="imagenMenu">
                <a href="./cursos" class="textoMenu">CURSOS</a>
                <p class="textoBajoMenu">Inscribite a nuestras clases</p>
            </div>

            <div class="imagenMenu">
                <a href="./giftcard" class="textoMenu">GIFT CARD</a>
                <p class="textoBajoMenu">Regalá dulzura</p>
            </div>
        </section>

        <div class="imagenFondo">
            <h3 class="textoFondo">Siempre es mejor con algo rico</h3>
        </div>


    </main>

        <iframe class="ifFooterh" src="/footerh" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
            scrolling="no"></iframe>
   

</body>

</html>