<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Bakery</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body class="body__home">
    <header class="header__home">
        <iframe class="ifHeaderh" src="/headerh" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
            scrolling="no"></iframe>

    </header>

    <main class="main__home">
        <div class="main__content">
        <!-- <div class="main__conteiner">
            <img class="main__conteiner__logo" src="/images/logo-sweet-bakery-dorado.png" alt="">
        </div> -->
        <div class="main__secondconteiner">
            <p class="main__secondconteiner__p">¡Sweet Bakery es un lugar donde lo delicioso y lo riquísimo
                se combinan!</p>
            <p class="main__description">En Sweet Bakery estamos para crear y cumplir con los sueños y objetivos de cada cliente, pero lo que más nos gusta es generar vínculos de amistad, ese es nuestro gran desafío. Tenemos un compromiso con la calidad y el buen gusto, y la pasión por el detalle hizo que nuestras recetas se conviertan en clásicos y sean reconocidas por quienes nos visitan. Te invitamos a conocer más sobre nosotros! </p>
            <div class="main__secondconteiner__knowus">
                <a class="knowus" href="./nosotros"><button class="knowus__button"> CONOCENOS </button></a>
            </div>
        </div>

        <section class="menu">
            <div class="menu__image">
                <div>
                    <a href="./products" class="menu__image__a"> PRODUCTOS</a>
                    <p class="menu__image__p">Nuestra tienda online</p>
                </div>
            </div>

            <div class="menu__image">
                <div>
                    <a href="./cursos" class="menu__image__a">CURSOS</a>
                    <p class="menu__image__p">Inscribite a nuestras clases</p>
                </div>
            </div>

            <div class="menu__image">
                <div>
                    <a href="./giftcard" class="menu__image__a">GIFT CARD</a>
                    <p class="menu__image__p">Regalá dulzura</p>
                </div>
            </div>
        </section>
</div>
        <div class="lastconteiner">
            <div>
                <p class="lastconteiner__p">...Siempre es mejor con algo rico...</p>
            </div>
        </div>


    </main>
    <footer>
        <iframe class="ifFooterh" src="/footerh" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
            scrolling="no"></iframe>
    </footer>



</body>

</html>