<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Lato:wght@100;300&family=Roboto:wght@300&display=swap">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>