<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Lato:wght@100;300&family=Roboto:wght@300&display=swap">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>

    <main>

        <section>
            <form action="#" method="GET">
                <button type="submit"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Buscar producto">
            </form>
            
            <form name="#" method="GET">
                <label>CATEGORÍAS</label>
                    <button type="submit">Alfajores</button>
                    <button type="submit">Budines</button>
                    <button type="submit">Cookies</button>
                    <button type="submit">Desayunos y boxes</button>
                    <button type="submit">Macarons</button>
                    <button type="submit">Mini postres</button>
                    <button type="submit">Postres</button>
                    <button type="submit">Productos secos</button>
            </form>
        </section>

        <section>
            <div class="products">
                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajores XL">
                    <div class="product-info">
                        <p class="name">Alfajores XL</p>
                        <p class="price">$0.00</p>
                        <!--Cual seria la ruta de action?? method GET o POST??-->
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate blanco">
                    <div class="product-info">
                        <p class="name">Alfajor chocolate blanco</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate negro">
                    <div class="product-info">
                        <p class="name">Alfajor chocolate negro</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor de coco">
                    <div class="product-info">
                        <p class="name">Alfajor de coco</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor de maicena">
                    <div class="product-info">
                        <p class="name">Alfajor de maicena</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor de nuez">
                    <div class="product-info">
                        <p class="name">Alfajor de nuez</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín de chocolate y oreo">
                    <div class="product-info">
                        <p class="name">Chocolate y oreo</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín de frutos rojos">
                    <div class="product-info">
                        <p class="name">Frutos rojos</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín de limón y amapola">
                    <div class="product-info">
                        <p class="name">Limón y amapola</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín de limón glaseado">
                    <div class="product-info">
                        <p class="name">Limón glaseado</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín de manzana">
                    <div class="product-info">
                        <p class="name">Manzana</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín marmolado">
                    <div class="product-info">
                        <p class="name">Marmolado</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Budín con nueces">
                    <div class="product-info">
                        <p class="name">Con nueces</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de avena">
                    <div class="product-info">
                        <p class="name">Cookie de Avena</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="product-info">
                        <p class="name">Cookie de chocolate</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie con nutella">
                    <div class="product-info">
                        <p class="name">Cookie con nutella</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cookies surtidas">
                    <div class="product-info">
                        <p class="name">Cookies surtidas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de vainilla">
                    <div class="product-info">
                        <p class="name">Cookie de vainilla</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Croissant">
                    <div class="product-info">
                        <p class="name">Croissant</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Medialunas">
                    <div class="product-info">
                        <p class="name">Medialunas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg"
                        alt="Pain de chocolate y frambuesa">
                    <div class="product-info">
                        <p class="name">Pain de chocolate y frambuesa</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Box degustación">
                    <div class="product-info">
                        <p class="name">Box degustación</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Box dulce">
                    <div class="product-info">
                        <p class="name">Box dulce</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Desayuno para 2 personas">
                    <div class="product-info">
                        <p class="name">Desayuno para 2 personas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Desayuno para 4 personas">
                    <div class="product-info">
                        <p class="name">Desayuno para 4 personas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Macarons">
                    <div class="product-info">
                        <p class="name">Macarons</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini años locos">
                    <div class="product-info">
                        <p class="name">Mini años locos</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Franuisima">
                    <div class="product-info">
                        <p class="name">Franuisima</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Marquise de chocolate">
                    <div class="product-info">
                        <p class="name">Marquise de chocolate</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Brownie">
                    <div class="product-info">
                        <p class="name">Mini Brownie</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Cheescake">
                    <div class="product-info">
                        <p class="name">Mini Cheescake</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Chocotorta">
                    <div class="product-info">
                        <p class="name">Mini Chocotorta</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini tarta de coco">
                    <div class="product-info">
                        <p class="name">Mini tarta de coco</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Crumble">
                    <div class="product-info">
                        <p class="name">Mini Crumble</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Frutos del Bosque">
                    <div class="product-info">
                        <p class="name">Mini Frutos del Bosque</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Lemon Pie">
                    <div class="product-info">
                        <p class="name">Mini Lemon Pie</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Bombita Oreo">
                    <div class="product-info">
                        <p class="name">Bombita Oreo</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini tarta de Frutillas">
                    <div class="product-info">
                        <p class="name">Mini tarta de Frutillas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Mini Tiramisu">
                    <div class="product-info">
                        <p class="name">Mini Tiramisu</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Black Coffee">
                    <div class="product-info">
                        <p class="name">Black Coffee</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Brownie">
                    <div class="product-info">
                        <p class="name">Brownie</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Crumble de manzana">
                    <div class="product-info">
                        <p class="name">Crumble de manzana</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Lemon Pie">
                    <div class="product-info">
                        <p class="name">Lemon Pie</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Pastafrola">
                    <div class="product-info">
                        <p class="name">Pastafrola</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Rogel">
                    <div class="product-info">
                        <p class="name">Rogel</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Tarta de Frutillas">
                    <div class="product-info">
                        <p class="name">Tarta de Frutillas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Frutos del Bosque">
                    <div class="product-info">
                        <p class="name">Frutos del Bosque</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Tarta de Ricota">
                    <div class="product-info">
                        <p class="name">Tarta de Ricota</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Tiramisu">
                    <div class="product-info">
                        <p class="name">Tiramisu</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Bizcochitos de grasa">
                    <div class="product-info">
                        <p class="name">Bizcochitos de grasa</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cantucci con almendras">
                    <div class="product-info">
                        <p class="name">Cantucci con almendras</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Copitos">
                    <div class="product-info">
                        <p class="name">Copitos</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Criollitos">
                    <div class="product-info">
                        <p class="name">Criollitos</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Cuadraditos">
                    <div class="product-info">
                        <p class="name">Cuadraditos</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Marineras">
                    <div class="product-info">
                        <p class="name">Marineras</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Masas húngaras">
                    <div class="product-info">
                        <p class="name">Masas húngaras</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Pepas">
                    <div class="product-info">
                        <p class="name">Pepas</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>

                <article>
                    <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Scones">
                    <div class="product-info">
                        <p class="name">Scones</p>
                        <p class="price">$0.00</p>
                        <form action="#" method="GET">
                            <button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>

    </footer>



</body>

</html>