* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

main {
    width: 100%;
}

.admin_container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.adminTitle {
    margin: 15px 0px;
}

.adminTitle__p {
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}