.adminHeader__div {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    background-color: rgb(44, 51, 57);;
    border-bottom: 1px solid white;
    margin: 0 auto;
}

.adminHeader__logo {
    display: flex;
    align-items: center;
}

.adminHeader__logo img {
    width: 200px;
}

.adminHeader__div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.adminHeader__button {
    display: flex;
    align-items: baseline;
    border: none;
    background-color: transparent;
    padding: 0px 5px;
}

.adminHeader__span {
    display: none;
}

.adminHeader__icon {
    color: white;
}

.adminHeader__avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 10px;
}

/* -------------------------------------------------- */

/* .admin__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10%;
    background-color: rgb(44, 51, 57);
}

.admin__container__div {
    margin: 0 auto;
    width: 90%;
}

.admin__button {
    background-color: transparent;
    border: none;
}

.admin__a {
    padding: 10px;
}

.admin__a:not(.admin__img-avatar:last-child) {
    border-bottom: 1px solid white;
}

.admin__a:active {
    background-color: rgb(218, 165, 32, 0.6);
}

.admin__span {
    display: none;
}

.admin__icon {
    color: white;
} */

@media (min-width: 769px) {
    .adminHeader__span {
        display: flex;
        color: white;
        margin-right: 10px;
    }

    .adminHeader__span:active {
        text-decoration: underline;
        color: white;
    }
}