* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.admin {
    width: 90%;
    background-color: white;
}

.admin_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.adminTitle {
    margin: 15px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminTitle__p {
    font-weight: 500;
    /* padding-bottom: 5px;
    border-bottom: 1px solid black; */
}

.adminTitle__icon {
    margin-right: 5px;
    font-size: 14px;
    /* color: rgb(100, 100, 100); */
}

.adminTitle__hr {
    margin-top: 5px;
}

.newProduct_form {
    display: flex;
    flex-wrap: wrap;
}

.newProduct_input,
.newProduct_select {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

#lastInput {
    height: 100px;
}

.newProduct_input-file {
    margin-bottom: 15px;
    font-size: 14px;
}

.newProduct_label {
    width: 100%;
}

.newProduct_label-img {
    width: 100%;
    padding: 15px 0px;
}

.edit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    /* margin: 15px 0px 30px; */
}

.edit_button,
.edit_button-clean {
    border: none;
    width: 100%;
    padding: 5px 0px;
}

.edit_button {
    font-weight: 600;
    background-color: black;
    color: white;
}

.edit_button:active,
.edit_button-clean:active {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.edit_button-clean{
    background-color: lightgray;
}

.edit_a {
    width: 100%;
}

.edit_a:first-child {
    padding: 10px 0px;
}

@media (min-width: 481px) {
    
}

@media (min-width: 769px) {
    .newProduct_form {
        width: 100%;
        margin-top: 25px;
    }

    .edit {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }

    .edit_a {
        width: 45%;
        padding: 10px 0px;
        /* margin: 0px 5px; */
    }
}