* {
    box-sizing: border-box;
    color: white;
}

/*Tipografias y configuraciones comunes*/
body {
    font-family: "Catamaran", sans-serif;

}


/*Estilos del Iframe Header*/
.body-header {
    width: 100% !important;
}

/*Estilos del Iframe footer*/
.body-footer {
    width: 100% !important;
    position: static;
    bottom: 0;
}

/*Estilos del home header y footer*/

.body-headerh {
    width: 100% !important;
    height: 100vh;
    /* border-bottom: solid 5px goldenrod; */
    /* border-bottom: solid 5px rgb(125, 12, 2); */
}

.body-footerh {
    width: 100% !important;
    background-color: black;
    /* margin-top: 200px; */
    position: relative;
    bottom: 0;
}

