* {
    box-sizing: border-box;
}

/*Tipografias y configuraciones comunes*/
body {
    font-family: "Catamaran", sans-serif;

}


.div-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-image: url(/images/postre-frutillas.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*Contenido del archivo base*/

.base-content {
    width: 100%;
    height: 600px;
}

/*Estilos del Iframe Header*/
.ifHeader {
    width: 100% !important;
    height: 220px;
}

/*Estilos del Iframe footer*/
.ifFooter {
    width: 100% !important;
    height: 380px;
    position: static;
    bottom: 0;
}

/*Estilos del home header y footer*/

.ifHeaderh {
    width: 100% !important;
    height: 500px;
}

.ifFooterh {
    width: 100% !important;
    height: 380px;
    position: static;
    bottom: 0;
}



/*Desktop*/
@media (min-width: 770px) {

    /*----------------HEADER------------------------------*/

    /*Estilos propios del menu header*/
    /*header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 100;
    }*/

    .header-version-desktop {
        position: relative;
        top: 0;
        width: 100%;
        height: 200px;
        z-index: 100;
        background-color: black;
        display: block;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
        padding-top: 20px;
    }

    .header-version-tablet {
        display: none;
    }

    .header-version-mobile {
        display: none;
    }

    .menu-listado {
        width: 100% !important;
        height: auto;
        font-size: medium;
        font-weight: bold;
        margin: auto;
        color: white;
        max-width: 1200px;
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
        -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
        */
        /*background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 33, 0.7203256302521008) 100%);*/
        /*background-color: black;*/



    }

    .menu-logo {
        width: 12vw;
    }

    .menu-nav {
        width: 100%;
        margin: none;
        padding: none;
    }

    .menu-accesos {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-accesos li {
        margin: 12px;
        font-size: larger;
    }

    .menu-accesos a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }

    .menu-accesos a:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    li {
        list-style: none;
    }

    .menu-cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-cart li {
        margin: 10px;
    }

    .menu-cart button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .menu-cart button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .menu-cart i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .menu-cart .fa-shopping-bag {
        color: rgba(218, 165, 32, 0.8);
        font-size: 2em;
    }



    /*---------------------FOOTER-----------------------*/

    .footer-version-desktop {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .footer-version-tablet {
        display: none;
    }

    .footer-version-mobile {
        display: none;
    }

    /*Estilos propios del footer*/


    .footer-nav {
        width: 100% !important;
        max-width: 1200px;
        height: auto;
        margin: auto;
        color: white;
        padding: 50px 0px 30px 0px;

        /*box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 33, 0.7203256302521008) 100%);
    */
        /*background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 3, 0.6449930313922444) 66%, rgba(2, 0, 33, 0) 100%);*/
    }

    .footer-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 25%;
    }

    .footer-logo-img {
        width: 250px;
    }

    .footer-secciones {
        width: 10%;
        line-height: 40px;
    }

    .footer-secciones p {
        padding: 0px;
        margin: 0px;
    }

    .footer-contacto {
        width: 30%;
        line-height: 40px;
        padding-left: 50px;
    }

    .footer-contacto i {
        margin-right: 10px;
    }

    .footer-contacto p {
        padding: 0px;
        margin: 0px;
    }

    .footer-titulos {
        font-size: 16px;
        font-weight: 700;
    }

    .footer-redes {
        width: 30%;
        text-align: left;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-redes p {
        padding: 0px;
        margin: 0px;
    }


    .footer-redes-texto {
        font-size: 16px;
        width: 100%;
    }

    .footer-redes-input {
        width: 100%
    }

    .footer-redes-input input[type=text] {
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
        border: 1px solid #ccc;
    }

    .footer-redes-icons {
        width: 50%;
        text-align: left;
    }

    .footer-redes-icons i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-icons i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-btn-sucripcion {
        width: 50%;
    }

    .footer-redes-btn-sucripcion button {
        width: 100%;
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }

    .footer-redes-btn-sucripcion button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-firma {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }



    /*----------------------------HEADER HOME-----------------------------*/
    .headerh-version-desktop {
        display: block;
        /* display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; */
        background-image: url(/images/postre-frutillas.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
    }

    /* .headerh-version-desktop::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    } */

    .menuh-nav {
        display: flex;
        position: relative;
    }

    .menuh-listado {
        width: 100% !important;
        height: auto;
        font-size: medium;
        font-weight: bold;
        margin: auto;
        color: white;
        max-width: 1500px;
        padding: 10px 10px 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }


    .menuh-nav {
        width: 100%;
        margin: none;
        padding: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
    }

    .menuh-accesos {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
    }

    .menuh-accesos .menuh-products,
    .menuh-contact,
    .menuh-courses,
    .menuh-search {
        margin-left: 40px;
    }

    .menuh-accesos a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }

    .menuh-accesos a:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .menuh-cart {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menuh-cart button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .menuh-cart button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .menuh-cart i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .menuh-cart .fa-shopping-bag {
        color: rgba(218, 165, 32, 0.8);
        font-size: 2em;
    }

    .menuh-logo {
        width: 100%;
        text-align: center;
    }

    .menuh-logo-img {
        width: 25%;
    }

    /*----------------------------FOOTER HOME-----------------------------*/

    .footerh-version-desktop {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
        background-color: rgb(0, 0, 0);
    }

}

/*Tablet*/
@media (min-width: 481px) and (max-width: 769px) {

    .body-base {
        /*background-color: rgba(89, 89, 89, 0.5);*/
        background-image: url(/images/tortitas-chocolate-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /*----------------------HEADER HOME-----------------------------*/
    .ifHeaderh {
        width: 100% !important;
        height: 500px;
    }

    .headerh-version-desktop {
        display: none;
    }

    .headerh-version-tablet {
        display: block;
        background-image: url(/images/tortitas-chocolate-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 500px;
    }

    .headerh-version-mobile {
        display: none;
    }

    .menuh-nav-tablet {
        width: 100%;
        margin: none;
        padding: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
    }

    /*----------------------HEADER---------------------------------*/
    .ifHeader {
        width: 100% !important;
        height: 350px;
    }

    .header-version-desktop {
        display: none;
        /*background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);*/
    }

    .header-version-tablet {
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        height: 300px;
        z-index: 100;
        background-color: black;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
    }

    .header-version-mobile {
        display: none;
    }

    .menu-nav-tablet {
        width: 100%;
        margin: none;
        padding: none;
    }

    .menu-listado-tablet {
        width: 100% !important;
        height: auto;
        font-size: medium;
        font-weight: bold;
        margin: auto;
        color: white;
        max-width: 1920px;
        padding: 20px 30px 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /*box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
            -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
            -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.66);
            */
        /*background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 33, 0.7203256302521008) 100%);*/
        /*background-color: black;*/



    }

    .menu-burger-tablet {
        width: 5%;
    }

    .menu-burger-tablet i {
        color: white;
        font-size: 2em;
    }

    .menu-burger-tablet i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .menu-cart-tablet {
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-cart-tablet div {
        text-align: center;
        padding-left: 20px
    }

    .menu-cart-tablet i {
        color: white;
        font-size: 2rem;
    }

    .menu-cart-tablet i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .menu-logo-tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 0 0 0;
    }

    .menu-logo-tablet img {
        width: 50%;
    }

    /*----------------------FOOTER---------------------------------*/
    .ifFooter {
        height: 1250px;
    }

    .footer-version-desktop {
        display: none;

    }

    .footer-version-tablet {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
    }

    .footer-version-mobile {
        display: none;
    }


    .footer-nav-tablet {
        width: 100% !important;
        height: auto;
        margin: auto;
        color: white;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
        padding: 200px 30px 30px 30px;

        /*box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
            -webkit-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
            -moz-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 33, 0.7203256302521008) 100%);
        */

    }

    .footer-menu-tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-logo-tablet {
        width: 100%;
        padding: 20px;
    }

    .footer-logo-img-tablet {
        width: 50%;
    }

    .footer-contacto-tablet {
        width: 50%;
        line-height: 40px;
    }

    .footer-secciones-tablet {
        width: 50%;
        line-height: 40px;
    }

    .footer-secciones-tablet h3 {
        margin: 0px;
        padding: 0px;
    }

    .footer-menu-tablet li {
        list-style: none;
    }

    .footer-redes-tablet {
        width: 100%;
        text-align: center;
        line-height: 25px;
    }

    .footer-redes-tablet li {
        margin-bottom: 10px
    }

    .footer-redes-tablet button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }

    .footer-redes-tablet button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-tablet input[type=text] {
        width: 60%;
        padding: 10px 15px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: none;
    }

    .footer-redes-tablet i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-tablet i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-texto-tablet {
        font-size: 16px;
    }

    .footer-menu-tablet hr {
        width: 100%;
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px;
    }

    .footer-firma-tablet {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
}

/*Mobile*/
@media (min-width:0px) and (max-width: 480px) {
    .body-base {
        background-image: url(/images/tortitas-chocolate-4.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /*----------------------HEADER HOME-----------------------------*/
    .headerh-version-desktop {
        display: none;
    }

    .headerh-version-tablet {
        display: none;
    }

    .headerh-version-mobile {
        display: block;
        height: 400px;
        background-color: black;
    }

    .ifHeaderh {
        width: 100% !important;
        height: 400px;
    }

    /*-----------------------HEADER--------------------------------*/

    /*Estilos del Iframe Header*/
    .ifHeader {
        width: 100% !important;
        height: 400px;
    }

    .header-version-desktop {
        display: none;
    }

    .header-version-tablet {
        display: none;
    }

    .header-version-mobile {
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .menu-nav-mobile {
        background-color: black;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
        padding: 30px;
    }

    .menu-buttons-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-button-x {
        width: 70%;
        text-align: left;
    }

    .menu-button-search {
        width: 10%;
        text-align: right;
    }

    .menu-button-user {
        width: 10%;
        text-align: right;
    }

    .menu-button-cart {
        width: 10%;
        text-align: right;
    }

    .menu-buttons-mobile i {
        color: white;
        font-size: 2em;
    }

    .menu-sections-mobile hr {
        width: 100%;
        background-color: white;
        margin: 0px;
    }

    .menu-sections-mobile a {
        text-decoration: none;
        color: white;
    }

    .menu-sections-mobile a:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    /*------------------------FOOTER------------------------*/
    .footer-version-desktop {
        display: none;
    }

    .footer-version-tablet {
        display: none;
    }

    .footer-version-mobile {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }


    .ifFooter {
        height: 800px;
    }

    .footer-nav-mobile {
        width: 100%;
        padding: 10px;
        padding-top: 50px;
        color: white;

        /*box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
            -webkit-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
            -moz-box-shadow: 1px -6px 5px -3px rgba(0, 0, 0, 0.61);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 33, 0.7203256302521008) 100%);
        */
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
        /*background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 3, 0.6449930313922444) 66%, rgba(2, 0, 33, 0) 100%);*/
    }

    .footer-menu-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .footer-menu-mobile li {
        list-style: none;
        font-size: 15px;
        line-height: 20px;
    }

    .footer-menu-mobile ul {
        padding: 0px;
        margin: 0px;
    }

    .footer-logo-mobile {
        width: 100%;
    }

    .footer-logo-img-mobile {
        width: 80%;
    }


    .footer-contacto-mobile {
        width: 100%;

    }

    .footer-secciones-mobile {
        width: 100%;
        margin-top: 20px;

    }

    .footer-secciones-mobile a {
        text-decoration: none;
        color: white;
    }

    hr {
        margin-top: 30px;
        width: 100%;
        background-color: gray;
    }

    .footer-suscripcion-mobile {
        width: 100%;
        margin-top: 10px;
    }

    .footer-suscripcion-mobile button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        width: 30%;
        color: white;
        padding: 12px;
        text-align: center;
        font-size: 15px;
    }

    .footer-suscripcion-mobile button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-suscripcion-mobile input[type=text] {
        width: 50%;
        padding: 10px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: none;
    }

    .footer-suscripcion-texto {
        text-align: center;
        font-size: 16px;
    }

    .form-suscripcion-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-redes-mobile {
        width: 100%;
    }

    .footer-redes-mobile div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-redes-mobile i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-mobile i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-firma-mobile {
        margin-top: 15px;
        width: 100%;
    }
}