* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.heading__p {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 15px;
}

.step__three {
    font-weight: bold;
}

.step__one,
.step__two,
.step__three {
    width: 50%;
}

.step__decoration {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.step__div-hr {
    width: 25%;
}

.step__hr{
    margin: 0 auto;
} 

.step__div-icon {
    width: 15%;
    display: flex;
    justify-content: center;
}

.step__icon {
   font-size: small;
}

.billing__title {
    font-weight: 600;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.billing__form {
    display: flex;
    flex-wrap: wrap;
}

.billing__label {
    width: 100%;
}

.billing__div {
    width: 100%;
}

.billing__input,
.billing__select {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.billing__select {
    padding: 4px;
}

.billing__credit-info,
.billing__dni {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.billing__credit-info-div {
    width: 30%;
}

.billing__dni-div {
    width: 48%;
}

.checkout {
    width: 100%;
    margin-top: 30px;
}

.checkout__subtotal,
.checkout__bonus,
.checkout__shipping,
.checkout__total {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.checkout__total {
    font-weight: 700;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

.buy {
    text-align: center;
}

.buy__button {
    font-weight: 600;
    color: white;
    width: 100%;
    background-color: black;
    border: none;
    margin: 15px 0px;
    padding: 5px 0px;
}

.buy__button:active {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    /*box-shadow: inset 0px 0px 10px 1px rgba(255,255,255,1);*/
}

.buy__a {
    font-size: 14px;
}

.order__title,
.order__product{
    display: none;
}

.continue-buying {
    display: block;
}

@media (min-width: 769px) {
    .container3 {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .order {
        border: 1px solid lightgray;
        padding: 15px;
    }

    .order__title {
        display: block;
        font-weight: 600;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    .order__product {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 15px;
        margin-bottom: 15px;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
    }

    .order__img {
        width: 30%;
    }

    .order__name-quantity {
        width: 40%;
        text-align: left;
    }

    .order__name {
        font-weight: 600;
    }

    .order__div-price {
        width: 20%;
    }

    .order__price {
        font-weight: 600;
        text-align: right;
    }

    .billing,
    .order {
        width: 48%;
    }

    .billing {
        padding: 15px;
    }
}