* {
    font-family: 'Catamaran';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.heading__p {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
}

.step__one {
    color: black;
    font-weight: 700;
}

.step__two,
.step__three {
    color: rgb(93, 92, 92);
}

.step__one,
.step__two,
.step__three {
    width: 50%;
    font-size: 14px;
}

.step__decoration {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.step__div-hr {
    width: 25%;
}

.step__hr {
    margin: 0 auto;
}

.step__div-icon {
    width: 15%;
    display: flex;
    justify-content: center;
}

.step__icon {
    font-size: 10px;
}

.title {
    display: none;
}

.product__article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

.product__img {
    width: 35%;
}

.product__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product__name {
    font-weight: 600;
}

.product__name,
.product__price {
    font-size: 16px;
}

.product__quantity {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 25px;
    border: 1px solid lightgray;
    background-color: transparent;
}

.product__button-less,
.product__button-add {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 25px;
}

.product__button-less {
    border-right: 1px solid lightgrey;
}

.product__button-add {
    border-left: 1px solid lightgrey;
}

.product__icon {
    font-size: 12px;
    border: none;
}

.product__span {
    padding: 0px 10px;
}

.product__total {
    width: 20%;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.product__button-remove {
    border: none;
    background-color: transparent;
    text-align: right;
}

.product__icon-trash {
    text-align: right;
}

.product__div-name,
.product__div-total {
    display: flex;
    flex-direction: column;
}

.product__total-title {
    font-size: 16px;
    font-weight: 600;
}

.product__price {
    font-size: 16px;
}

.container-code-checkout {
    display: flex;
    flex-direction: column;
}

.code {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding-top: 30px;
    border-top: 1px solid lightgray;
}

.code__input {
    font-size: 14px;
    font-style: italic;
    width: 78%;
    border: 1px solid lightgray;
    padding: 5px;
    padding-left: 10px;
}

.code__button {
    font-weight: bold;
    width: 20%;
    height: 35px;
    border: 3px solid black;
    background-color: transparent;
}

.code__button:active {
    background-color: black;
    color: white;
}

.checkout {
    width: 100%;
    margin-top: 30px;
}

.checkout__subtotal,
.checkout__bonus,
.checkout__total {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.checkout__total {
    font-weight: 700;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

.buy {
    text-align: center;
}

.buy__button {
    font-weight: 500;
    color: white;
    width: 100%;
    background-color: black;
    border: none;
    margin: 15px 0px;
    padding: 5px 0px;
}

.buy__button:active {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.buy__a {
    font-size: 14px;
}

@media (min-width: 769px) {
    .title-container {
        display: flex;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 15px;
        /*border: 1px solid red;*/
     
    }

    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 600;
    }

    .title,
    .product__article {
        padding: 10px;
        margin: 0;
        border: none;
        border-bottom: 1px solid lightgray;
        align-items: flex-start;
    }

    .title {
        padding-bottom: 15px;
        /* border-top: 1px solid lightgray; */
    }
    
    .title__product,
    .title__name,
    .title__price,
    .title__quantity,
    .title__total,
    .title__remove {
        font-weight: 700;
        font-size: 14px;
    }

    .title__name,
    .product__name {
        width: 50%;
    }

    .title__price,
    .product__price {
        width: 28%;
    }

    .title__quantity,
    .product__div-quantity {
        width: 22%;
    }

    .title__product {
        width: 10%;
    }

    .title__div {
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .title__div-info {
        display: flex;
        justify-content: space-between;
        width: 65%;
    }

    .title__div2 {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    .product__img {
        width: 10%;
    }

    .product__info,
    .product__total {
        flex-direction: row;
        justify-content: space-between;
    }

    .product__div-total {
        width: 40%;
        text-align: left;
    }

    .product__total {
        width: 20%;
    }

    .product__button-remove {
        display: flex;
        align-items: flex-start;
        padding-top: 5px;
    }

    .product__info {
        width: 55%;
    } 

    .product__total-title {
        display: none;
    }

    .container-code-checkout {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }

    .code {
        width: 40%;
        align-items: flex-start;
        border: none;
        margin: 0px;
        padding: 0px;
    }

    .code__input {
        width: 78%;
    }

    .code__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 8px;
        margin-left: 10px;
    }

    .container-checkout-buy {
        display: flex;
        flex-direction: column;
    }

    .container-checkout-buy {
        width: 30%;
    }

    .checkout {
        margin: 0;
    }

    .buy {
        width: 100%;
    }
}