* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.heading p {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 25px;
}

.step__three {
    font-weight: bold;
}

.step__one,
.step__two,
.step__three {
    width: 30%;
}

.step__decoration {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.step__div-hr {
    width: 30%;
}

.step__hr{
    margin: 0 auto;
} 

.step__div-icon {
    width: 20%;
    display: flex;
    justify-content: center;
}

.step__icon {
   font-size: small;
}

.billing-title {
    font-weight: 600;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.billing-info form {
    display: flex;
    flex-wrap: wrap;
}

.billing-info form label:not(.credit-info):not(.dni) {
    width: 100%;
}

.credit-payment {
    width: 100%;
}

.billing-info form input,
.billing-info select {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.billing-info select {
    padding: 4px;
}

.credit-info,
.dni {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.credit-info div {
    width: 30%;
}

.dni div {
    width: 48%;
}

.total-amount {
    width: 100%;
    margin-top: 30px;
}

.subtotal,
.bonus,
.shipping,
.total-amount .total {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.total-amount .total {
    font-weight: 700;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

.buy {
    text-align: center;
}

.buy button {
    font-weight: 600;
    color: white;
    width: 100%;
    background-color: black;
    border: none;
    margin: 15px 0px;
    padding: 5px 0px;
}

.buy button:active {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    /*box-shadow: inset 0px 0px 10px 1px rgba(255,255,255,1);*/
}

.buy a {
    font-size: 14px;
}

.order-section .order-title,
.order-section .product{
    display: none;
}

.continue-buying {
    display: block;
}

@media (min-width: 769px) {
    main .container-cart3 {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .order-section {
        border: 1px solid lightgray;
        padding: 15px;
    }

    .order-section .order-title {
        display: block;
        font-weight: 600;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    .order-section .product {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 15px;
        margin-bottom: 15px;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
    }

    .product img {
        width: 30%;
    }

    .product .name-quantity {
        width: 40%;
        text-align: left;
    }

    .product .name {
        font-weight: 600;
    }

    .product .cart-price {
        width: 20%;
    }

    .product .cart-price p {
        font-weight: 600;
        text-align: right;
    }

    .billing-info,
    .order-section {
        width: 48%;
    }

    .billing-info {
        padding: 15px;
    }
}