* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.heading__p{
    color: black;
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

.main__conteiner{
    background-image: url(../images/delicious-cupcakes3.jpg);
    width: 100%;
    max-width: 1200px;

}

.main_section .main__courses{
    background-color: rgb(37, 37, 37);
}

.main__courses{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}
