
/*Estilos del footer*/
.body-footer {
    width: 100% !important;
    position: static;
    bottom: 0;
    display: block;
    background-image: url(/images/postre-frutillas.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.body-footerh {
    width: 100% !important;
    background-color: black;
    height: 380px;
    /* margin-top: 200px; */
    position: relative;
    bottom: 0;
}



/*Desktop*/
@media (min-width: 770px) {

    
    /*----------------------------FOOTER HOME-----------------------------*/

    .footerh-version-desktop {
        height: auto;
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
        background-color: rgb(0, 0, 0);
    }

    .footerh-version-tablet {
        display: none;
    }

    .footerh-version-mobile {
        display: none;
    }

    
    /*---------------------FOOTER-----------------------*/

    .footer-version-desktop {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .footer-version-tablet {
        display: none;
    }

    .footer-version-mobile {
        display: none;
    }

    /*Estilos propios del footer*/


    .footer-nav {
        max-width: 1200px;
        width: 95vw;
        height: auto;
        margin: auto;
        color: white;
        padding: 50px 0px 30px 0px;

    }

    .footer-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 25%;
    }

    .footer-logo-img {
        width: 250px;
    }

    .footer-secciones {
        width: 10%;
        line-height: 40px;
    }

    .footer-secciones p {
        padding: 0px;
        margin: 0px;
    }

    .footer-contacto {
        width: 30%;
        line-height: 40px;
        padding-left: 50px;
    }

    .footer-contacto i {
        margin-right: 10px;
    }

    .footer-contacto p {
        padding: 0px;
        margin: 0px;
    }

    .footer-titulos {
        font-size: 16px;
        font-weight: 700;
    }

    .footer-redes {
        width: 30%;
        text-align: left;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-redes p {
        padding: 0px;
        margin: 0px;
    }


    .footer-redes-texto {
        font-size: 16px;
        width: 100%;
    }

    .footer-redes-input {
        width: 100%
    }

    .footer-redes-input input[type=text] {
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
        border: 1px solid #ccc;
    }

    .footer-redes-icons {
        width: 50%;
        text-align: left;
    }

    .footer-redes-icons i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-icons i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-btn-sucripcion {
        width: 50%;
    }

    .footer-redes-btn-sucripcion button {
        width: 100%;
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }

    .footer-redes-btn-sucripcion button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-firma {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }


}

/*Tablet*/
@media (min-width: 481px) and (max-width: 769px) {

    /*--------------------FOOTER HOME------------------------------*/
    .footerh-version-desktop {
        display: none;
    }

    .footerh-version-tablet {
        display: block;
        height: 1250px;
        background-color: rgb(0, 0, 0);
    }

    .footerh-version-mobile {
        display: none;
    }

    .body-footerh {
        background-color: black;
        width: 100%;
        height: 1250px;
    }

    /*----------------------FOOTER---------------------------------*/

    .footer-version-desktop {
        display: none;

    }

    .footer-version-tablet {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
    }

    .footer-version-mobile {
        display: none;
    }


    .footer-nav-tablet {
        width: 100%;
        height: auto;
        margin: auto;
        color: white;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
        padding: 200px 30px 30px 30px;
    }

    .footer-menu-tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-logo-tablet {
        width: 100%;
        padding: 20px;
    }

    .footer-logo-img-tablet {
        width: 50%;
    }

    .footer-contacto-tablet {
        width: 50%;
        line-height: 40px;
    }

    .footer-secciones-tablet {
        width: 50%;
        line-height: 40px;
    }

    .footer-secciones-tablet h3 {
        margin: 0px;
        padding: 0px;
    }

    .footer-menu-tablet li {
        list-style: none;
    }

    .footer-redes-tablet {
        width: 100%;
        text-align: center;
        line-height: 25px;
    }

    .footer-redes-tablet li {
        margin-bottom: 10px
    }

    .footer-redes-tablet button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }

    .footer-redes-tablet button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-tablet input[type=text] {
        width: 60%;
        padding: 10px 15px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: none;
    }

    .footer-redes-tablet i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-tablet i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-redes-texto-tablet {
        font-size: 16px;
    }

    .footer-menu-tablet hr {
        width: 100%;
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px;
    }

    .footer-firma-tablet {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }


}

/*Mobile*/
@media (min-width:0px) and (max-width: 480px) {
   
    /*-----------------------FOOTER HOME --------------------------*/
    .footerh-version-desktop {
        display: none;
    }

    .footerh-version-tablet {
        display: none;
    }

    .footerh-version-mobile {
        display: block;
        height: 800px;
        background-color: rgb(0, 0, 0);
    }

    .body-footerh {
        width: 100%;
        height: 800px;
    }

    /*------------------------FOOTER------------------------*/
    .footer-version-desktop {
        display: none;
    }

    .footer-version-tablet {
        display: none;
    }

    .footer-version-mobile {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 0.7234244039412641) 73%, rgba(0, 0, 0, 0.50773812943146) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .footer-nav-mobile {
        width: 100%;
        padding: 10px;
        padding-top: 50px;
        color: white;

    }

    .footer-menu-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .footer-menu-mobile li {
        list-style: none;
        font-size: 15px;
        line-height: 20px;
    }

    .footer-menu-mobile ul {
        padding: 0px;
        margin: 0px;
    }

    .footer-logo-mobile {
        width: 100%;
    }

    .footer-logo-img-mobile {
        width: 80%;
    }


    .footer-contacto-mobile {
        width: 100%;

    }

    .footer-secciones-mobile {
        width: 100%;
        margin-top: 20px;

    }

    .footer-secciones-mobile a {
        text-decoration: none;
        color: white;
    }

    hr {
        margin-top: 30px;
        width: 100%;
        background-color: gray;
    }

    .footer-suscripcion-mobile {
        width: 100%;
        margin-top: 10px;
    }

    .footer-suscripcion-mobile button {
        background-color: rgba(218, 165, 32, 0.8);
        border: none;
        width: 30%;
        color: white;
        padding: 12px;
        text-align: center;
        font-size: 15px;
    }

    .footer-suscripcion-mobile button:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .footer-suscripcion-mobile input[type=text] {
        width: 50%;
        padding: 10px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: none;
    }

    .footer-suscripcion-texto {
        text-align: center;
        font-size: 16px;
    }

    .form-suscripcion-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-redes-mobile {
        width: 100%;
    }

    .footer-redes-mobile div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-redes-mobile i {
        font-size: 2em;
        padding: 10px;
    }

    .footer-redes-mobile i:hover {
        color: rgb(218, 165, 32, 0.5);
    }

    .footer-firma-mobile {
        margin-top: 15px;
        width: 100%;
    }
}