* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.main-login {
    max-width: 1200px;
    background-image: url(../images/delicious-cupcakes3.jpg);
    background-size: cover;
    background-position: top center;
    /* width: 100%; */
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
    box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
}

/* .main-div-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    border: solid 1px red;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    -webkit-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
    box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
} */

.principal-container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0px;
    border: 1px rgb(0, 0, 0, 0.4);
    background-color: rgb(0, 0, 0, 0.4);
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.titlep {
    text-align: left;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.input-box:not(.input-box:first-child) {
    margin-top: 10px;
}

.input-box label {
    width: 90%;
    margin-top: 7px;
    color: white;
}

.input {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    /* border: 1px solid lightgray;
    border-radius: 3px; */
    /* max-width: 90%;
    height: 15%;
    max-height: 15%; */
}

::placeholder {
    font-weight: 200;
    font-size: 14px;
    color: white;
}

.box1 {
    margin: 20px 0px;
}

.checkbox-box {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    /* margin-top: 5%; */
}

.checkbox-label {
    padding-left: 5px;
    font-size: 14px;
    ;
    color: white;
    /* margin-left: 10%;
    font-size: x-large; */
}

.forgotpass {
    font-size: 14px;
    color: white;
}

.forgotpass-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    /* padding-top: 5%; */
}

.submit-box {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.submit-input {
    font-weight: 600;
    color: white;
    width: 80%;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 7px 0px 5px;
    margin-top: 10px;
    /* width: 90%;
    font-size: 18px;
    border-radius: 0px;
    border: 0px;
    padding: 10px 50px; */
}

/* .final-a-box {
    margin-bottom: 35px;
    background-color: #000000;
    font-size: x-large;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 15%;
    width: 81%;
} */

/* .div-center {
    margin: 0 auto;
    text-align: center;
} */

.final-a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.final-a button {
    font-weight: 400;
    font-size: 14px;
    color: white;
    /* width: 80%; */
    background-color: transparent;
    border: none;
    /* border-radius: 3px;
    margin: 15px 0px;
    padding: 7px 0px 5px; */
}

@media (min-width: 481px) {
    .principal-container {
        width: 50%;
    }

    .box1 {
        margin: 15px 0px 20px 0px;
    }

    /* .forgotpass-box {
        text-align: end;
    } */

    /* .checkbox-box {
        text-align: center;
        padding-top: 2.5%;
    } */

    /* .forgotpass {
        margin-left: 0;
    } */

    /* .checkbox-label {
        margin-left: 0%;
        font-size: 16px;
    } */

    /* .forgotpass-box {
        padding-top: 2.5%;
    } */
}