* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    
}
.main-login {
    background-image: url(../images/delicious-cupcakes3.jpg);
        background-size: cover;
        background-position: top center;
    width: 100%;
    -webkit-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
        box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
}

.main-div-box{
    width: 100%;
    background-color: #e5e5e5e6;
    padding: 100px;
}

.titlep{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.input-box{
    margin-left: 10%;
    margin-top: 20px;
    max-width: 90%;
    
}

.input {
    width: 90%;
    max-width: 90%;
    height: 15%;
    max-height: 15%;
}

.checkbox-label {  
    margin-left: 10%;
    font-size: x-large;    
 }

 .checkbox-box{
     margin-top: 5%;
 }

 .forgotpass{ 
    margin-left: 10%;
    font-size: 16px;    
 }

 .forgotpass-box{
     padding-top: 5%;

 }
 .submit-box{
     margin-left: 10%;
     margin-top: 10%;
    
     
 }

 .submit-input{

     width: 90%;
     font-size: 18px;
     border-radius: 0px;
     border: 0px;
     padding: 10px 50px;
 } 
 
 .final-a-box{
     background-color: #000000;
     font-size: x-large;
     margin-top: 2%;
     margin-left: 10%;
     margin-bottom: 15%;
     width: 81%;
     
     
 }

 .final-a{
     
     text-decoration: none;
 }

 .final-a button {
    background-color: #000000;
        font-size: 18px;
        color: #e5e5e5;
        border-radius: 0px;
            border: 0px;
            padding: 10px 50px;
            width: 90%;
 }

 .div-center{
     margin: auto;
     text-align: center;
 }

 @media (min-width: 481px){
    .forgotpass-box{
        text-align: center;
    }

    .checkbox-box{
        text-align: center;
        padding-top: 2.5%;
    }
    
    .forgotpass{
        margin-left: 0;
    }

    .checkbox-label{
        margin-left: 0%;
        font-size: 16px;
    }

    .submit-box{
        margin-top: 5%;
    }

    .forgotpass-box{
        padding-top: 2.5%;
    }

    .main-div-box{
        max-width: 1200px;
        width: 50%;
        margin: 0 auto;
        padding: 50px auto;
        
        -webkit-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
            -moz-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
            box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
    }


 }

    