*{font-family: 'Catamaran', sans-serif;
}

.title {
        position:relative;
        text-align:center;
        z-index:2;
        top:-650px;

}

.img-product1 {
display:flex;
box-sizing: content-box; 
width:100%;
position:relative;
height:5%;
padding: 0px 200px 0px 200px;
}

.list {
        flex-wrap:wrap;

}