* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.heading p {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.show-filter {
    padding: 10px 0px;
    position: absolute;
}

.show-filter button {
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.show-filter button i {
    padding-right: 10px;
    margin-right: 5px;
    text-align: left;
    border-right: 1px solid lightgray;
}

main .show-filter button:active .filter-section{
    display: flex;
}

.reference-location {
    display: flex;
    padding: 20px 0px 10px;
    border-bottom: 1px solid lightgray;
    position: absolute;
}

.reference-location a {
    text-decoration: none;
}

.reference-location button {
  border: none;
  background-color: transparent;
}

.reference-location i {
    font-size: 14px;
}

.filter-section {
    width: 70%;
    display: flex;
    /*CAMBIAR A flex UNA VEZ HECHO EL BOTON DE MOSTRAR FILTROS*/
    flex-wrap: wrap;
    background-color: white;
    border: solid 1px lightgray;
    position: absolute;
    top: 60px;
}

.close-container {
    width: 90%;
    text-align: right;
    padding: 20px 0px;
    margin: 0 auto;
    border-bottom: solid 1px lightgray;
}

.close-button {
    border: none;
    background-color: transparent;
}

.close-button i {
    font-size: 20px;
}

.search-section {
    display: flex;
    width: 100%;
}

.div-search {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.div-search .search-text {
    width: 70%;
    border: none;
    border-radius: 40px;
    padding: 5px;
    margin: 0 auto;
}

.search-button {
    width: 30%;
    padding-left: 20px;
}

.search-button i {
    color: darkgray;
    font-size: 14px;
}

.search-button,
.search-text {
    border:none;
    background-color: transparent;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.categories label {
    font-weight: bold;
    width: 90%;
    padding: 20px 15px 10px;
    border-top: solid 1px lightgray;
}

.categories button {
    width: 80%;
    text-align: left;
    background-color: transparent;
    padding: 10px 0px;
    border: none;
    border-bottom: solid 1px lightgray;
}

.categories button:last-child {
    border: none;
}

.categories button a {
    text-decoration: none;
}

.categories button:active a {
    font-weight: 600;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: space-between;
}

.products article {
    width: 45%;
    margin: 12px 0px;
}

main section article .img-product {
    width: 100%;
}

.name {
    font-weight: 600;
    text-align: center;
}

.price {
    font-weight: 300;
    text-align: center;
}

.products article button {
    width: 100%;
    background-color: lightgrey;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

.products article .product-info form:active button {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.fa-cart-plus {
    padding: 0px 5px;
    font-size: 14px;
}

/*@media (min-width: 769px){
    .filter-section {
        display: block;
        width: 35%;
    }

    .products article {
        width: 20%;
        margin: 12px 0px;
        padding: 20px 10px;
    }
}*/