*{
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: black;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        line-height: 1.5em;
}

body {
        background-color: white;
}

main {
        width: 90%;
        margin: 0 auto;
 }

.title{
        background-color: lightgray;
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        font-weight: 900;
        margin: 0 auto;     
}

.product-name1 {
        width:100%;
        margin-bottom: 20px;
        font-size: 16px;
}

.product-name1 p{
        font-weight: 900;
}

.list {
        margin-bottom:20px;
}
.main-product-detail {
        width:100%;
}

.product-detail img{
        width:100%;
        margin-bottom: 20px;
}
.text {
        text-align:justify;
        margin-bottom: 10px;

}

.payment {
        margin-top:10px;
}
.product-buy button{
        text-align: center;
}
    
.product-buy button {
        font-weight: 500;
        color: white;
        width: 100%;
        background-color: black;
        border: none;
        margin: 15px 0px;
        padding: 5px 0px;
}
    
.product-buy button:active {
        box-shadow: inset 0px 0px 10px 1px rgba(255,255,255,1);
}
    
.product-buy a button {
        text-decoration: none;
}
    
.product-buy a button{
        font-size: 14px;
}

.img-product {
        display:flex;
        box-sizing: border-box; 
        width:100%;
}

article .product-description {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
}

.quantity {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 20%;
        border: 1px solid lightgray;
        background-color: transparent;
}
    
.quantity button {
        border: none;
        background-color: transparent;
        width: 25px;
        height: 25px;
}
    
.quantity button {
        border-right: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
    }
    
.quantity button i {
        font-size: 8px;
    }
    
.quantity span {
        padding: 0px 10px;
    }

.productos-relacionados{
        width:100%;
        text-align: center;
}

.productos-relacionados p{
        width:100%;
        text-align: center;
        font-weight: 900;
}
hr {
        width:100%;
        color:lightgrey;

}

.productos-relacionados-title {
        width:100%;
}

.productos-relacionados {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
        justify-content: space-between;
       
}

.productos-relacionados article {
        box-sizing: border-box;
        width: 45%;
        margin: 12px 0px;
        
    }

.product-info {
        width:100%;
        align-items: center;
}
    
main section article .img-product {
        width: 100%;

}
.name {
        font-weight: 600;
        text-align: center;
 }
    
.price {
        font-weight: 300;
        text-align: center;
}
    
.productos-relacionados article .product-info button {
        text-align: center;
}
    
.productos-relacionados article .product-info button {
        font-weight: 500;
        color: white;
        width: 100%;
        background-color: black;
        border: none;
        margin: 15px 0px;
        padding: 5px 0px;
}
    
.productos-relacionados article .product-info a:active button{
        box-shadow: inset 0px 0px 10px 1px rgba(255,255,255,1);
}
.productos-relacionados article .product-info a button  {
        text-decoration: none;
}
    
.productos-relacionados article .product-info a button {
        font-size: 14px;
}
    
.fa-cart-plus {
        padding: 0px 5px;
        font-size: 14px;
        color:white;
}
    

ul {
        padding: 0;
        width: 100%;
}
      
li {
        display: inline;
}
      
a {
        outline: none;
        display: inline;
        text-decoration:none;
        width: 19.5%;
        margin-right: 0.625%;
        text-align: center;
        line-height: 3;
        color: black;
}

@media (min-width: 769px){
main {
        max-width:1200px;
}
.product-detail img {
        width:45%;
        height:250px;
}

.product-description {
        float:right;
        width:50%;
        position:relative;
        bottom:200px;
}
.productos-relacionados article{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width:30%;
 }

.product-name1 {
        float:right;
        width:50%;

}

.productos-relacionado-title,
hr {
        width:100%;
}

.productos-relacionados-title {
        width:100%;
        display:flex;
        flex-wrap:wrap;
}

.productos-relacionados-title p{
        width:100%;
        text-align: center;
}
.product-description {
        margin-bottom: 20%;
}

.productos-relacionados {
        position:relative;
        bottom: 360px;
}
}
