* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.main-login {
    /* max-width: 1200px; */
    background-image: url(../images/delicious-cupcakes3.jpg);
    background-size: cover;
    background-position: top center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
    box-shadow: inset 0px 3px 33px -3px rgba(0, 0, 0, 0.38);
}

.principal-container {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
    border: 1px rgb(0, 0, 0, 0.4);
    background-color: rgb(0, 0, 0, 0.4);
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.titlep {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.input-box {
    margin: 0 auto;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    position: relative;
}

.input-box:not(.input-box:last-child) {
    margin-top: 10px;
}

.login-icon,
.email-icon,
.phone-icon,
.pass-icon {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.input {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

.input:last-child {
    border: none;
}

.input:focus {
    outline: none;
}

::placeholder,
.box-avatar__label {
    font-weight: 200;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.box-avatar {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.box-avatar__input {
    margin-top: 10px;
}

.box {
    margin-top: 20px;
}

.checkbox-box {
    width: 35%;
    height: 45px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: lightgray;
    justify-content: center;
}

.check {
    display: flex;
    align-items: flex-start;
}

.checkbox-label {
    padding-left: 5px;
    font-size: 14px;
    color: black;
}

.submit-box {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.submit-input {
    font-weight: 400;
    color: white;
    width: 80%;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 7px 0px 5px;
    margin-top: 10px;
}

.final-a-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.final-a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

div .is-invalid {
    color:red;
}

div .is-valid {
 
    color:blue
}

.errors {
    color:red;
    align-items: center;
}

@media (min-width: 481px) {
    .main-login {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .title-box {
        margin-bottom: 55px;
    }

    .login-icon,
    .email-icon,
    .phone-icon,
    .pass-icon {
        right: 40px;
        bottom: 20px;
    }

    .box {
        margin-top: 30px;
        /* margin: 15px 0px 20px 0px; */
    }

    .submit-box {
        margin-top: 30px;
    }
}