* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    
}
.main-div-box{
    border: 2px solid #000000;
    margin: 5%;
    background-color: #e5e5e5;
}


.main-div-box__p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.input-box{
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    margin-bottom: 10px;
    
}

.input {
    width: 80%;
    max-width: 80%;
    height: 15%;
    max-height: 15%;
}

.checkbox-box{
    border:2px solid #000000;
    
    margin: auto;
    margin-top: 5%;
    width: 60%;
    min-height: 7vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.submit-box{
    margin: auto;
    padding: 10%;
    padding-left: 10%;    
}

.submit-input{
    margin: auto;
    padding: 7%;
    padding-right: 10%;
    background-color: #000000;
    border-radius: 10px;
    color: #cca000;
    width: 100%      
}

.final-a{
    margin: auto;
    text-align: center;
    padding-bottom: 10%;
}

@media (min-width: 769px){

    
  
   .main-div-box{
       max-width: 1200px;
       margin: auto;
   }

   .checkbox-box{
       max-width: 450px;
   }

   .submit-input{
       padding-top: 0%;
       padding-bottom: 0%;

   }
}