* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.body__home {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* .header {
    width: 3000px;
    max-width: 100%;
    height: 2000px;
    max-height: 100vh;
} */

.header__home {
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0px;
}

.main__conteiner {
    width: 100%;
    height: 100vh;
    background-image: url(../images/mini-frutos-del-bosque.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__conteiner__logo {
    max-width: 45%;
    max-height: 45vh;
}


.main__home {
    /* background-image:url(../images/img-fondo-home.webp); */
    /* background-image: url(../images/pastelero-masa.webp); */
    /* background-image: url(../images/chocolate-rustic.jpg); */
    background-image: url(../images/FondoNegro.png);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    position: relative;
    top: 200px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.main__home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.main__content {
    margin: 0 auto;
    max-width: 1200px;
}

.imagenHeader {
    width: 100%;
    height: 100%;
}

.menuDesktop {
    display: none;
}

.barraDeBusqueda {
    display: none;
}

.main__secondconteiner {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.main__secondconteiner__p {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.main__description {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main__secondconteiner__knowus {
    width: 100%;
}

.knowus {
    text-decoration: none;
}

.knowus__button {
    font-weight: 700;
    color: white;
    width: 50%;
    background-color: black;
    border: none;
    padding: 5px 0px;
}

.knowus__button:active {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.menu {
    margin-bottom: 40px;
    padding-top: 20px
}

.menu__image {
    background-image: url(../images/tortitas-chocolate-4.jpg);
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
    box-shadow: -3px 5px 10px -4px rgba(0, 0, 0, 1);
}

.menu__image:active {
    background-color: rgb(218, 165, 32, 0.5);
}

.menu__image__p {
    text-align: center;
    font-size: medium;
    color: #fbfaf8;
}

.menu__image__a {
    display: block;
    color: #fbfaf8;
    text-align: center;
    padding-top: 10%;
    text-decoration: none;
    font-weight: bold;
}

.lastconteiner {
    background-image: url(../images/postre-frutillas.jpg);
    background-size: cover;
    width: 100%;
    height: 45vh;
    /* border-top: solid 5px rgb(125, 12, 2); */
}

.lastconteiner div {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastconteiner__p {
    font-family: 'Dancing Script', cursive;
    color: #fbfaf8;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
}

.footer-nav {
    background-color: #000000;
    color: #fbfaf8
}


@media (min-width: 481px) {
    .main__secondconteiner__p {
        font-weight: 700;
    }
}

@media (min-width: 769px) {
    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 35px;
        margin-bottom: 90px;
    }

    .menu__image {
        height: 350px;
    }

    .menu__image {
        margin: 10px;
    }

    .menu__image:hover {
        background-color: rgb(218, 165, 32, 0.5);
    }

    .main {
        margin: auto;
    }

    .main__secondconteiner {
        margin: 0 auto;
        padding-top: 90px;
        margin-bottom: 90px;
    }
}