<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
        rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet"> 
    <link href="/css/base-style.css" rel="stylesheet"> 
    <title>Base del proyecto</title>
</head>
<body class="body-base">
    <div class="div-content">
    <iframe class="ifHeader" src="/header" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    
    <div class="content-img-text">

        <div class="content-text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Temporibus dolorem corporis molestiae expedita debitis a perferendis.
            Eaque, magni similique beatae culpa earum,
            fugiat hic distinctio adipisci dolorum temporibus asperiores rem?
        </p>
        </div>
    </div>
    
    <iframe class="ifFooter" src="/footer" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </div>
</body>
</html>