<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
		rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link href="/css/normalize.css" rel="stylesheet" />
	<link href="/css/base-style.css" rel="stylesheet" />
	<title>Footer</title>
</head>

<body class="body-footer">
	<footer>
		<div class="footer-version-desktop">
			<div class="footer-nav">
				<div class="footer-menu">
					<section class="footer-logo">
						<a href="#"><img class="footer-logo-img " src="/images/logo-sweet-bakery-dorado.png" /></a>
					</section>
					<section class="footer-contacto">
						<ul>
							<li>
								<h3>Contacto</h3>
							</li>
							<li><i class="fas fa-map-marker-alt"></i> Calle falsa 123, Bs. As. Argentina</li>
							<li><i class="fas fa-phone-alt"></i> +5411-89446677</li>
							<li><i class="far fa-clock"></i> Lunes a domingo de 8:00 a 22:00</li>
							<li><i class="far fa-envelope"></i> info@sweetbakery.com</li>
						</ul>
					</section>
					<section class="footer-secciones">
						<ul>
							<li>
								<h3>Secciones</h3>
							</li>
							<li>Inicio</li>
							<li>Productos</li>
							<li>Cursos</li>
							<li>Nosotros</li>
							<li>Preguntas frecuentes</li>
						</ul>
					</section>
					<section class="footer-redes">
						<ul>
							<li class="footer-redes-texto">¡Suscribite a nuestra newsletter para recibir las últimas
								novedades y beneficios especiales!</li>
							<li><input type="text" placeholder="Dejanos tu e-mail"> <button>Suscribite</button></li>
							<li>
								<i class="fab fa-facebook"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
							</li>
						</ul>
					</section>
					<section class="footer-firma">
						© Sweet bakery 2022. Todos los derechos reservados.
					</section>
				</div>
				
			</div>
		</div>


		<!-- ------------------------------------------------------------------->


		<div class="footer-version-mobile">
			<div class="footer-nav-mobile">
				<div class="footer-menu-mobile">
					<section class="footer-logo-mobile">
						<a href="#"><img class="footer-logo-img-mobile" src="/images/nombre-sweet-bakery-dorado.png" /></a>
					</section>
					<section class="footer-contacto-mobile">
						<ul>
							<li>
								<h3>Contacto</h3>
							</li>
							<li><i class="fas fa-map-marker-alt"></i> Calle falsa 123, Bs. As. Argentina</li>
							<li><i class="fas fa-phone-alt"></i> +5411-89446677</li>
							<li><i class="far fa-clock"></i> Lunes a domingo de 8:00 a 22:00</li>
							<li><i class="far fa-envelope"></i> info@sweetbakery.com</li>
						</ul>
					</section>
					<section class="footer-secciones-mobile">
						<ul>
							<li>
								<h3>Secciones</h3>
							</li>
							<li><a href="#">Inicio</a></li>
							<li><a href="#">Productos</a></li>
							<li><a href="#">Cursos</a></li>
							<li><a href="#">Nosotros</a></li>
							<li><a href="#">Preguntas frecuentes</a></li>
						</ul>
					</section>
					<hr>
					<section class="footer-suscripcion-mobile">
						<div><p  class="footer-suscripcion-texto">¡Suscribite a nuestra newsletter para recibir las últimas
							novedades y beneficios especiales!</p></div>
						<div class="form-suscripcion-mobile"><input type="text" placeholder="Dejanos tu e-mail"> <button>Suscribite</button></div>
					</section>
					<section class="footer-redes-mobile">
						<div><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i class="fab fa-twitter"></i></div>
					</section>
					<section class="footer-firma-mobile">
						© Sweet bakery 2022. Todos los derechos reservados.
					</section>
				</div>
				
			</div>
		</div>

	</footer>
</body>

</html>