<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
		rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link href="/css/normalize.css" rel="stylesheet" />
	<link href="/css/base-style.css" rel="stylesheet" />
	<title>Footer</title>
</head>

<body class="body-footer">
	<footer>
		<div class="footerh-version-desktop">
			<div class="footer-nav">
				<div class="footer-menu">
					<section class="footer-logo">
						<div><a href="#"><img class="footer-logo-img " src="/images/logo-sweet-bakery-dorado.png" /></a>
						</div>
					</section>
					<section class="footer-secciones">
						<div>
							<div>
								<p class="footer-titulos">SECCIONES</p>
							</div>
							<div>
								<p class="footer-subtitulos">INICIO</p>
							</div>
							<div>
								<p class="footer-subtitulos">PRODUCTOS</p>
							</div>
							<div>
								<p class="footer-subtitulos">CURSOS</p>
							</div>
							<div>
								<p class="footer-subtitulos">NOSOTROS</p>
							</div>
						</div>
					</section>
					<section class="footer-contacto">
						<div>
							<div>
								<p class="footer-titulos">CONTACTO</p>
							</div>
							<div><i class="fas fa-map-marker-alt"></i>
								Calle falsa 123, Bs. As. Argentina
							</div>
							<div><i class="fas fa-phone-alt"></i>
								+5411-89446677
							</div>
							<div><i class="far fa-clock"></i>
								Lunes a domingo de 8:00 a 22:00
							</div>
							<div><i class="far fa-envelope"></i>
								info@sweetbakery.com
							</div>
						</div>
					</section>

					<section class="footer-redes">
						<div class="footer-titulo-sucripcion">
							<p class="footerh-titulos">SUSCRIPCIÓN</p>
						</div>
						<div class="footer-redes-texto">¡Suscribite a nuestra newsletter para recibir las últimas
							novedades y beneficios especiales!
						</div>
						<div class="footer-redes-input">
							<input type="text" placeholder="Dejanos tu e-mail">
						</div>
						<div class="footer-redes-icons">
							<i class="fab fa-facebook"></i>
							<i class="fab fa-instagram"></i>
							<i class="fab fa-twitter"></i>
						</div>
						<div class="footer-redes-btn-sucripcion">
							<button>Suscribite</button>
						</div>

					</section>
					<section class="footer-firma">
						© Sweet bakery 2022. Todos los derechos reservados.
					</section>
				</div>

			</div>
		</div>

		<!---------------------------------------------------------------------->

		<div class="footerh-version-tablet">
			<div class="footer-nav-tablet">
				<div class="footer-menu-tablet">
					<section class="footer-logo-tablet">
						<a href="#"><img class="footer-logo-img-tablet"
								src="/images/logo-sweet-bakery-dorado.png" /></a>
					</section>
					<section class="footer-contacto-tablet">
						<ul>
							<li>
								<p class="footer-titulos">CONTACTO</p>
							</li>
							<li><i class="fas fa-map-marker-alt"></i> Calle falsa 123, Bs. As. Argentina</li>
							<li><i class="fas fa-phone-alt"></i> +5411-89446677</li>
							<li><i class="far fa-clock"></i> Lunes a domingo de 8:00 a 22:00</li>
							<li><i class="far fa-envelope"></i> info@sweetbakery.com</li>
						</ul>
					</section>
					<section class="footer-secciones-tablet">
						<ul>
							<li>
								<p class="footer-titulos">SECCIONES</p>
							</li>
							<li>
								<p class="footer-subtitulos">INICIO</p>
							</li>
							<li>
								<p class="footer-subtitulos">PRODUCTOS</p>
							</li>
							<li>
								<p class="footer-subtitulos">CURSOS</p>
							</li>
							<li>
								<p class="footer-subtitulos">NOSOTROS</h3>
							</li>
						</ul>
					</section>
					<hr>
					<section class="footer-redes-tablet">
						<ul>
							<li class="footer-redes-texto-tablet">¡Suscribite a nuestra newsletter para recibir las
								últimas
								novedades y beneficios especiales!</li>
							<li><input type="text" placeholder="Dejanos tu e-mail"> <button>Suscribite</button></li>
							<li>
								<i class="fab fa-facebook"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
							</li>
						</ul>
					</section>
					<section class="footer-firma-tablet">
						© Sweet bakery 2022. Todos los derechos reservados.
					</section>
				</div>

			</div>
		</div>

		<!-- ------------------------------------------------------------------->

		<div class="footerh-version-mobile">
			<div class="footer-nav-mobile">
				<div class="footer-menu-mobile">
					<section class="footer-logo-mobile">
						<a href="#"><img class="footer-logo-img-mobile"
								src="/images/nombre-sweet-bakery-dorado.png" /></a>
					</section>
					<section class="footer-contacto-mobile">
						<ul>
							<li>
								<p class="footer-titulos">CONTACTO</p>
							</li>
							<li><i class="fas fa-map-marker-alt"></i> Calle falsa 123, Bs. As. Argentina</li>
							<li><i class="fas fa-phone-alt"></i> +5411-89446677</li>
							<li><i class="far fa-clock"></i> Lunes a domingo de 8:00 a 22:00</li>
							<li><i class="far fa-envelope"></i> info@sweetbakery.com</li>
						</ul>
					</section>
					<section class="footer-secciones-mobile">
						<ul>
							<li>
								<p class="footer-titulos">SECCIONES</p>
							</li>
							<li>
								<p class="footer-subtitulos">INICIO</p>
							</li>
							<li>
								<p class="footer-subtitulos">PRODUCTOS</p>
							</li>
							<li>
								<p class="footer-subtitulos">CURSOS</p>
							</li>
							<li>
								<p class="footer-subtitulos">NOSOTROS</h3>
							</li>
						</ul>
					</section>
					<hr>
					<section class="footer-suscripcion-mobile">
						<div>
							<p class="footer-suscripcion-texto">¡Suscribite a nuestra newsletter para recibir las
								últimas
								novedades y beneficios especiales!</p>
						</div>
						<div class="form-suscripcion-mobile"><input type="text" placeholder="Dejanos tu e-mail">
							<button>Suscribite</button>
						</div>
					</section>
					<section class="footer-redes-mobile">
						<div><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i
								class="fab fa-twitter"></i></div>
					</section>
					<section class="footer-firma-mobile">
						© Sweet bakery 2022. Todos los derechos reservados.
					</section>
				</div>

			</div>
		</div>

	</footer>
</body>

</html>