<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="">
		<title>Header</title>
	</head>
	<body>
		<header>
                <nav class="menu">
                    <ul>
                        <section class="menu-logo">
                            <li><img src="/css/nombre-sweet-bakery-dorado.png" alt="Logo de Sweet Bakery"></li>
                        </section>
                        <section class="menu-accesos">
                            <li>INICIO</li>
                            <li>PRODUCTOS</li>
                            <li>CONTACTO</li>
                            <li>CURSOS</li>
                            <li><i class="fas fa-search"></i></li>
                        </section>
                        <section class="menu-ingreso">
                            <li><button></button>Ingresá | Registrate</li>
                            <li><i class="fas fa-shopping-bag"></i></li>
                        </section>
                    </ul>
                </nav>
        </header>
	</body>
</html>
