<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
        rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/base-style.css" rel="stylesheet">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="header-version-desktop">
            <nav class="menu-nav">
                <ul class="menu-listado">
                    <li>
                        <a href="#"><img class="menu-logo" src="/images/nombre-sweet-bakery-dorado.png"
                                alt="Logo de Sweet Bakery"></a>
                    </li>
                    <div class="menu-accesos">
                        <li>
                            <h4><a href="#">Inicio</h4>
                        </li>
                        <li>
                            <h4><a href="#">Productos</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">Contacto</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">Cursos</a></h4>
                        </li>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                    </div>
                    <div class="menu-cart">
                        <li><a href="#"><button>Ingresá</button></a> <a href="#"><button>Registrate</button></a></li>
                        <li><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <!--------------------------------------------------------------------------------------------------------------------->
        <div class="header-version-tablet">
            <nav class="menu-nav-tablet">
                <section class="menu-listado-tablet">
                    <div class="menu-logo-tablet">
                        <a href="#">
                            <img src="/images/nombre-sweet-bakery-dorado.png"
                                alt="Logo de Sweet Bakery">
                        </a>
                    </div>
                    <div class="menu-search-tablet">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>

                    <div class="menu-accesos-tablet">
                        <div>
                            <h4><a href="#">Inicio</h4>
                        </div>
                        <div>
                            <h4><a href="#">Productos</a></h4>
                        </div>
                        <div>
                            <h4><a href="#">Contacto</a></h4>
                        </div>
                        <div>
                            <h4><a href="#">Cursos</a></h4>
                        </div>
                    </div>
                    <div class="menu-cart-tablet">
                        <div><a href="#"><button>Ingresá</button></a> <a href="#"><button>Registrate</button></a>
                        </div>
                        <div><a href="#"><i class="fas fa-shopping-bag"></i></a></div>
                    </div>

                </section>
            </nav>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------>
        <div class="header-version-mobile">
            <div class="menu-nav-mobile">
                <div class="menu-buttons-mobile">
                    <div class="menu-button-x">
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="menu-button-search">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="menu-button-user">
                        <a href="#"><i class="fas fa-user"></i></a>
                    </div>
                    <div class="menu-button-cart">
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
                <div class="menu-sections-mobile">
                    <div class="menu-section-inicio">
                        <a href="#">
                            <h3>INICIO</h3>
                        </a>
                    </div>
                    <hr class="menu-divider-mobile">
                    <div class="menu-section-productos">
                        <a href="#">
                            <h3>PRODUCTOS</h3>
                        </a>
                    </div>
                    <hr class="menu-divider-mobile">
                    <div class="menu-section-cursos">
                        <a href="#">
                            <h3>CURSOS</h3>
                        </a>
                    </div>
                    <hr class="menu-divider-mobile">
                    <div class="menu-section-contacto">
                        <a href="#">
                            <h3>CONTACTO</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>