<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Cursos" , style: "courses" }) %>
<body>
  <%- include('../partials/page-under-construction', { title: "Cursos" }) %>
    <!-- <header>
        <%# include('../partials/header') %>
        </header>
        <section class="heading">
            <p class="heading__p">CURSOS</p>
        </section>
    <div class="main__conteiner">
        <div class="main__secondconteiner__div">
            <p class="main__secondconteiner__div__p">Cursos Virtuales</p>
        </div>
        <section class="main__section">
            <p class="main__section__p">Sumate a nuestras clases</p>
        </section>
        <section class="main__courses">
           <div class="main__courses__div">
              <div class="main__courses__div__image__a">
                <p class="main__courses__div__image__p">Decoracion de Tortas</p>
                <a href="" class="main__courses__div__image__a">M치s info</a>

              </div>
              <div class="main__courses__div__image__b">
                <p class="main__courses__div__image__p">ABC de la Pasteleria</p>
                <a href="" class="main__courses__div__image__a">M치s info</a>

              </div>
              <div class="main__courses__div__image__c">
                <p class="main__courses__div__image__p">Los mejores Macarons</p>
                <a href="" class="main__courses__div__image__a">M치s info</a>

              </div>
              <div class="main__courses__div__image__d">
                <p class="main__courses__div__image__p">Facturas premium</p>
                <a href="" class="main__courses__div__image__a">M치s info</a>

              </div>

            </div>
        </section>    
    </div>
    <-->

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>