<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/adminCreate.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <section class="admin">
            <div class="admin__menu">
                <div class="admin__div-avatar">
                    <span class="admin__span-avatar">ADMIN</span>
                    <img class="admin__img-avatar" src="/images/avatar1.jpg" alt="Profile avatar">
                </div>

                <a class="admin__a" href="/adminProfile">
                    <button class="admin__button">
                        <span class="admin__span">Perfil</span> <i class="admin__icon fas fa-user"></i>
                    </button>
                </a>

                <a class="admin__a" href="/adminProducts">
                    <button class="admin__button">
                        <span class="admin__span">Productos</span> <i class="admin__icon fas fa-store"></i>
                    </button>
                </a>

                <a class="admin__a" href="#">
                    <button class="admin__button">
                        <span class="admin__span">Configuración</span> <i class="admin__icon fas fa-cogs"></i>
                    </button>
                </a>
            </div>

            <div class="admin__container">
                <div class="adminTitle">
                    <p class="adminTitle__p">CREAR PRODUCTO</p>
                </div>

                <div class="newProduct">
                    <form class="newProduct__form" action="" method="GET">
                        <label class="newProduct__label" for="name">Nombre</label>
                        <input class="newProduct__input" type="text" name="name" id="name" required>

                        <label class="newProduct__label" for="category">Categoría</label>
                        <select class="newProduct__select" name="categories" required>
                            <option value="c1">Alfajores</option>
                            <option value="c2">Budines</option>
                            <option value="c3">Cookies</option>
                            <option value="c4">Desayunos y boxes</option>
                            <option value="c5">Mini postres</option>
                            <option value="c6">Macarons</option>
                            <option value="c7">Productos secos</option>
                            <option value="c8">Postres</option>
                        </select>

                        <label class="newProduct__label" for="price">Precio</label>
                        <input class="newProduct__input" type="text" name="price" id="price" required>

                        <label class="newProduct__label" for="description">Descripción</label>
                        <input id="lastInput" class="newProduct__input" type="text" name="description" id="description">

                        <label class="newProduct__label">Agregar imagen de producto</label>
                        <input class="newProduct__input-file" type="file" name="imgProduct" accept=".jpg">

                        <div class="create">
                            <a class="create__a" href="#">
                                <button class="create__button-clean" type="reset">Limpiar</button>
                            </a>
                            <a class="create__a" href="#">
                                <button class="create__button" type="submit">CREAR</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>