<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/adminCreate.css">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../../partials/headerAdmin') %>
        <main>
            <%- include('../../partials/navbarAdmin') %>
                <section class="admin">
                    <div class="admin__container">
                        <div class="admin__container__div">
                            <div class="newProduct">
                                <div class="adminTitle">
                                    <p class="adminTitle__p"><i
                                            class="adminTitle__icon fa-solid fa-file-circle-plus"></i> Crear producto
                                    </p>
                                </div>
                                <hr class="adminTitle__hr">

                                <form class="newProduct__form" action="/admin/products" method="POST" enctype="multipart/form-data">

                                    <label class="newProduct__label" for="name">Nombre</label>
                                    <input class="newProduct__input" type="text" name="name" id="name" required>

                                    <label class="newProduct__label" for="category">Categoría</label>
                                    <select class="newProduct__select" name="category" required>
                                        <option value="Alfajores">Alfajores</option>
                                        <option value="Budines">Budines</option>
                                        <option value="Cookies">Cookies</option>
                                        <option value="Desayunos y boxes">Desayunos y boxes</option>
                                        <option value="Mini postres">Mini postres</option>
                                        <option value="Macarons">Macarons</option>
                                        <option value="Productos secos">Productos secos</option>
                                        <option value="Postres">Postres</option>
                                    </select>

                                    <label class="newProduct__label" for="price">Precio</label>
                                    <input class="newProduct__input" type="text" name="price" id="price" required>

                                    <label class="newProduct__label" for="description">Descripción</label>
                                    <textarea class="newProduct__input" id="description"  name="description" rows="4"></textarea>


                                    <label class="newProduct__label-img">Agregar imagen de producto</label>
                                    <input class="newProduct__input-file" type="file" name="imgProduct" accept=".jpg">

                                    <div class="create">
                                        <a class="create__a" href="#">
                                            <button class="create__button-clean" type="reset">Limpiar</button>
                                        </a>
                                        <a class="create__a" href="#">
                                            <button class="create__button" type="submit">CREAR</button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
</body>

</html>