<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="/css/userNavbar.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <iframe class="ifHeader" src="http://localhost:3000/header" frameborder="0" hspace="0" vspace="0"
            marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </header>

<main>
    <section class="user">
        <%- include('../../partials/navbarUser') %>

        <div class="user__container">
            <div class="userTitle">
                <p class="userTitle__p">PERFIL DEL USUARIO</p>
            </div>

            <div class="user_info">
                <h2>Hola <%=user.firstname%></h2>
                <img src="/images/avatars/<%=user.avatar%>">
                <div class="alert-success"><%=user.email%></div>
        </div>


    </section>

</main>
<footer>
    <iframe class="ifFooter" src="http://localhost:3000/footer" frameborder="0" hspace="0" vspace="0"
        marginheight="0" marginwidth="0" scrolling="no"></iframe>
</footer>
</body>

</html>