<!-- <div class="admin__div">

<div class="adminHeader__div">
    <div class="adminHeader__logo">
        <img class="menu-logo" src="/images/nombre-sweet-bakery-dorado.png" alt="Logo de Sweet Bakery">
    </div>
    <div class="adminHeader__div2">
        <img class="adminHeader__avatar" src="/images/avatar1.jpg" alt="Profile avatar">
        <button class="adminHeader__button">
            <span class="adminHeader__span"> ¡Hola Admin! </span> <i class="adminHeader__icon fa-solid fa-caret-down"></i>
        </button>
    </div>
</div> -->

<div class="admin__menu">
    <a class="admin__a" href="/admin">
        <button class="admin__button">
            <span class="admin__span">Perfil</span> <i class="admin__icon fas fa-user"></i>
        </button>
    </a>

    <a class="admin__a" href="/admin/products">
        <button class="admin__button">
            <span class="admin__span">Productos</span> <i class="admin__icon fas fa-store"></i>
        </button>
    </a>

    <a class="admin__a" href="/admin">
        <button class="admin__button">
            <span class="admin__span">Configuración</span> <i class="admin__icon fas fa-cogs"></i>
        </button>
    </a>
</div>

<!-- </div> -->