<!DOCTYPE html>
<html lang="en">

<head>

    <title>Detalle de Producto</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Dancing+Script:wght@500&display=swap"
        rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/base-style.css" rel="stylesheet">
    <link href="/css/productdetail-style.css" rel="stylesheet">

</head>

<body>
    <header>
        <iframe class="ifHeader" src="http://localhost:3000/header" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </header>
    <div class="title"><p>DETALLE DE PRODUCTO</p></div>
<main>
    <div class="list">
    <nav>
    <ul>   
            <li class="list"><a href ="/">Inicio/</a></li>
            <li class="list"><a href="/products">Producto/</a></li>
            <li class="list"> Detalle de Producto</li>
    </ul>
    </nav>
</div>
    <div class="main-product-detail">

    <div class="product-name1"><p>NOMBRE DEL PRODUCTO </p>
        <div class="price1"><p>$1.00</p></div>
    </div>
    
    <div= class="product-detail">     
    <img src="/images/mini-frutos-del-bosque.jpg" alt="Alfajores XL">
    </div>

    <div class="product-description">
            <p class="description">Descripción del Producto</p>
            <p class="text"> lorem ipsum dolor sit amet et delectus accomodre his consul cipiosae legendos</p>
            <p class="q">Cantidad</p>
            <div class="quantity">
                <button><i class="fas fa-minus"></i></button>
                <span>1</span>
                <button><i class="fas fa-plus"></i></button>
            </div>
            <div class="payment">VER MEDIOS DE PAGO</div>
            <div class="product-buy"><a href="/cart1"><button type="submit">AGREGAR AL CARRITO</button></a> 
            </div>
        </div>
    </div>
    </section>
    <div class="productos-relacionados">
        <div class="productos-relacionados-title"><p class="titulo2">PRODUCTOS RELACIONADOS</p>
            <hr>
        </div>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajores XL">
            <div class="product-info">
                <p class="name">Cantucci con almendras</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate blanco">
            <div class="product-info">
                <p class="name">Alfajor chocolate blanco</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate negro">
            <div class="product-info">
                <p class="name">Alfajor chocolate negro</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>

        </div>
    </main>
</body>
<iframe class="ifFooter" src="http://localhost:3000/footer" frameborder="0" hspace="0" vspace="0" marginheight="0"
    marginwidth="0" scrolling="no"></iframe>

</html>