<div class="step">
    <div class="step__one">
        <p>PASO 1</p>
        <p>Carrito de compra</p>
    </div>

    <div class="step__decoration">
        <div class="step__div-hr">
            <hr class="step__hr">
        </div>
        <div class="step__div-icon">
            <i class="step__icon far fa-circle"></i>
        </div>
        <div class="step__div-hr">
            <hr class="step__hr">
        </div>
    </div>

    <div class="step__two">
        <p>PASO 2</p>
        <p>Completar datos</p>
    </div>

    <div class="step__decoration">
        <div class="step__div-hr">
            <hr class="step__hr">
        </div>
        <div class="step__div-icon">
            <i class="step__icon far fa-circle"></i>
        </div>
        <div class="step__div-hr">
            <hr class="step__hr">
        </div>
    </div>

    <div class="step__three">
        <p>PASO 3</p>
        <p>Finalizar compra</p>
    </div>
</div>