
    <div class="userHeader__div">
        <div class="userHeader__logo">
            <img class="userMenu-logo" src="/images/nombre-sweet-bakery-dorado.png" alt="Logo de Sweet Bakery">
        </div>
          
    <% if (locals.isLogged) { %>

    <div class= "userNabvar_profile">
       <div class="userHeader__profile">
       <img class="userHeader__avatar" src="/images/avatars/<%=locals.isLogged.avatar%>" alt="Profile avatar">
       <p class="userHeader__span"> ¡Hola <%=locals.isLogged.name%> ! </p>
        </div>
        <div class="nav-itemdropdown">
            <a class="dropdown-item" href="/"><i class="fas fa-home"></i></a>
            </div>
        <div class="nav-itemdropdown">
         <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out"></i></a>
        </div>
        
    </div>

        <% } else { %>

        <li class="nav-item"> <a class="nav-link" href="/users/register">Registrate</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/login">Inicia Sesión</a></li>

        <% }  %>

    </ul>
</div>