<div class="adminHeader__div">
    <div class="adminHeader__logo">
        <img class="menu-logo" src="/images/nombre-sweet-bakery-dorado.png" alt="Logo de Sweet Bakery">
    </div>
    <div class="adminHeader__div2">
        <img class="adminHeader__avatar" src="/images/avatar1.jpg" alt="Profile avatar">
        
        <button class="adminHeader__button">
            <span class="adminHeader__span"> ¡Hola Admin! </span> <i class="adminHeader__icon fa-solid fa-caret-down"></i>
        </button>
        <button class="adminHeader__button" >
            <a  href="/"><i class="fas fa-home" style="color: white;"></i></a>
        </button>
        <button class="adminHeader__button" >
            <a  href="/users/logout"><i class="fas fa-sign-out" style="color: white;"></i></a>
        </button>
    </div>
</div>