<header class="body-headerh">
    <div class="headerh-version-desktop">
        <nav class="menuh-nav">
            <div class="menuh-listado">
                <div class="menuh-accesos">
                    <div class="menuh-init">
                        <h4><a href="#">INICIO</h4>
                    </div>
                    <div class="menuh-products">
                        <h4><a href="#">PRODUCTOS</a></h4>
                    </div>
                    <div class="menuh-contact">
                        <h4><a href="#">CONTACTO</a></h4>
                    </div>
                    <div class="menuh-courses">
                        <h4><a href="#">CURSOS</a></h4>
                    </div>
                    <div class="menuh-search"><a href="#"><i class="fas fa-search"></i></a></div>
                </div>
                <div class="menuh-cart">
                    <div class="menu-button-user-tablet">
                        <a href="#"><i class="fas fa-user"></i></a>
                    </div>
                    <div class="menu-button-cart-tablet">
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>

            </div>
            <div class="menuh-logo">
                <a href="#">
                    <img class="menuh-logo-img" src="/images/logo-sweet-bakery-blanco-sombra.png"
                        alt="Logo de Sweet Bakery">
                </a>
            </div>
        </nav>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->

    <div class="headerh-version-tablet">
        <nav class="menuh-nav-tablet">
            <section class="menu-listado-tablet">

                <div class="menu-burger-tablet">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="menu-cart-tablet">
                    <div class="menu-button-search-tablet">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="menu-button-user-tablet">
                        <a href="#"><i class="fas fa-user"></i></a>
                    </div>
                    <div class="menu-button-cart-tablet">
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
                <div class="menu-logo-tablet">
                    <a href="#">
                        <img src="/images/logo-sweet-bakery-dorado.png" alt="Logo de Sweet Bakery">
                    </a>
                </div>

            </section>
        </nav>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------>
    <div class="headerh-version-mobile">
        <div class="menu-nav-mobile">
            <div class="menu-buttons-mobile">
                <div class="menu-button-x">
                    <a href="#"><i class="fas fa-times"></i></a>
                </div>
                <div class="menu-button-search">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
                <div class="menu-button-user">
                    <a href="#"><i class="fas fa-user"></i></a>
                </div>
                <div class="menu-button-cart">
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="menu-sections-mobile">
                <div class="menu-section-inicio">
                    <a href="#">
                        <h3>INICIO</h3>
                    </a>
                </div>
                <hr class="menu-divider-mobile">
                <div class="menu-section-productos">
                    <a href="#">
                        <h3>PRODUCTOS</h3>
                    </a>
                </div>
                <hr class="menu-divider-mobile">
                <div class="menu-section-cursos">
                    <a href="#">
                        <h3>CURSOS</h3>
                    </a>
                </div>
                <hr class="menu-divider-mobile">
                <div class="menu-section-contacto">
                    <a href="#">
                        <h3>CONTACTO</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>