<div class="admin__menu">
    <a class="admin__a" href="#">
        <button class="admin__button">
            <span class="admin__span">Perfil</span> <i class="admin__icon fas fa-user"></i>
        </button>
    </a>

    <a class="admin__a" href="/admin/products">
        <button class="admin__button">
            <span class="admin__span">Productos</span> <i class="admin__icon fas fa-store"></i>
        </button>
    </a>

    <a class="admin__a" href="#">
        <button class="admin__button">
            <span class="admin__span">Configuración</span> <i class="admin__icon fas fa-cogs"></i>
        </button>
    </a>
</div>