<div class="admin__menu">
    <div class="admin__div-avatar">
        <span class="admin__span-avatar">ADMIN</span>
        <img class="admin__img-avatar" src="/images/avatar1.jpg" alt="Profile avatar">
    </div>

    <a class="admin__a" href="/adminProfile">
        <button class="admin__button">
            <span class="admin__span">Perfil</span> <i class="admin__icon fas fa-user"></i>
        </button>
    </a>

    <a class="admin__a" href="/adminProducts">
        <button class="admin__button">
            <span class="admin__span">Productos</span> <i class="admin__icon fas fa-store"></i>
        </button>
    </a>

    <a class="admin__a" href="#">
        <button class="admin__button">
            <span class="admin__span">Configuración</span> <i class="admin__icon fas fa-cogs"></i>
        </button>
    </a>
</div>