<main class="page__construction__main">
    <div class="page__construction__div">
        <section class="page__section__title">PÁGINA EN CONSTRUCCIÓN</section>
        <section class="page__section__section">Sección de <%= title %> próximamente :)</section>
        <section class="page__section__logo"><a href="/"><img src="/images/logo-sweet-bakery-dorado.png" /></a>
        </section>
        <section class="page__section__back">
            <a href="/"><button>Volver</button></a>
        </section>
    </div>
</main>