<div class="step">
    <div class="step__div">
        <div class="step__div2">
            <span class="step__span">1</span>
        </div>
        <p>Carrito de compras</p>
        <i class="step__icon fa-solid fa-circle-check"></i>
    </div>
    <hr class="step__hr">
    <div class="step__div">
        <div class="step__div2">
            <span class="step__span">2</span>
        </div>
        <p>Completar datos</p>
        <i class="step__icon fa-solid fa-circle-check"></i>
    </div>
    <hr class="step__hr">
    <div class="step__div">
        <div class="step__div2">
            <span class="step__span">3</span>
        </div>
        <p>Finalizar compra</p>
        <i class="step__icon fa-solid fa-circle-check"></i>
    </div>
</div>