<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Nosotros" , style: "about" }) %>
<body>
    <header>
        <%- include('../partials/header') %>
        </header>
    <!--<%- include('../partials/page-under-construction', { title: "nosotros" }) %>-->
    
    <p class="heading__about__p">NOSOTROS</p>
<main class="main__about">
    <div class="main__about__div">
        <div class="main__firstconteiner">
            <div><img class="about__img__team" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de equipo"> </div>
            <div class="main__firstconteiner__p"><p class="main__firstconteiner__about__title">¿QUIENES SOMOS?</p>
            <p class="main__firstconteiner__about__p">Somos un equipo conformado por pasteleros reconocidos a nivel mundial por sus deliciosos y sofisticados productos culinarios</p>
            <p class="main__firstconteiner__about__title">EQUIPO SWEET BAKERY</p>
            <p class="main__firstconteiner__about__p">Equipo culinario internacional con reconocida trayectoria en el arte de la pasteleria </p> 
        </div>
    </div>
            <img class="about__img__history" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de historia ">
      </div>  
        <div class="main__secondconteiner">
                <div class="main__secondconteiner">
                    <div class="main__secondconteiner__ourhistory">
                    <div class="main__secondconteiner__ourhistory__p">
                    <p class="main__secondconteiner__title">NUESTRA HISTORIA</p>
                    <p class="main__secondconteiner__about__p">Sweet Bakery se dedica profesionalmente al sector panadero y dulces
                        desde 1993. Su historia se remota a la primera generación, que se dedicaba a la elaboración de tortas artesanales
                        elaborando el producto para los vecinos de la zona. En el año 2000 expande su negocio abriendo sucursales alrededor de
                        la Ciudad Autónoma de Buenos Aires ampliando su zona geográfica de comercialización pero sin dejar de 
                        proporcionar una gran calidad en sus elaborados por lo cual se la considera ejemplo de negocio innovador y
                        artesanal. </p> </div>
                
                    <div class="about__images__about">
                    <img class="about__img__about1" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de Nosotros">
                    <img class="about__img__about2" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de Nosotros">
                    <img class="about__img__about3" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de Nosotros">
                    </div>
                    </div>

                    <div class="main__secondconteiner__more">
                    
                    <div class="main__secondconteiner__more__p">
                    <p class="main__secondconteiner__title">MÁS DE NOSOTROS</p>
                    <p class="main__secondconteiner__about__p">Como equipo buscamos crear y cumplir con los sueños y objetivos de
                        cada cliente, pero lo que más nos gusta es generar vínculos de amistad, ese es el mayor desafío.
                        <br>Todo esto y nuestra pasión por el detalle, hizo que nuestras recetas se conviertan en clásicos y
                        sean reconocidas por quienes nos visitan. </p>
                    </div>
                <div class="about__img__us__lastpic"<img class="about__img__us" src="/images/mini-frutos-del-bosque.jpg" alt="Imagen de Nosotros">
                </div>
            </div>
        
        </div>

    </div>
 </main>
 <footer>
    <%- include('../partials/footer-home') %>
</footer>
</body>
    
</html>