<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Contacto" , style: "contact" }) %>
<body>
    <%- include('../partials/page-under-construction', { title: "contacto" }) %>
</body>
</html>