* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.admin {
    width: 90%;
    background-color: white;
}

.admin_container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.adminTitle {
    margin: 35px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(250, 250, 250);
    padding: 10px 20px;
    border: 1px solid lightgray;
}

.adminTitle__p {
    font-weight: 500;
}

.adminTitle__icon {
    margin-right: 5px;
    font-size: 14px;
}

.adminTitle__a {
    text-decoration: none;
}

.adminTitle__button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: inherit;
}

.adminTitle__span {
    /* display: none; */
    font-size: 12px;
    color: rgb(58, 121, 203);
}

.adminTitle__icon-create {
    color: rgb(58, 121, 203);
    margin-right: 5px;
}

.adminTitle__hr {
    margin-top: 5px;
}

.filter,
.titles {
    display: none;
}

.productsList {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.productsList__container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.productsList__div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 38%;
}

.productsList__checkbox {
    width: 12%;
}

.productsList__id {
    /* display: block; */
    width: 10%;
    text-align: center;
}

.productsList__img {
    width: 63%;
}

.productsList__info {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 45%;
}

.productsList__name {
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}

.productsList__category,
.productsList__price {
    width: 45%;
    font-size: 14px;
}

.productsList__price {
    text-align: center;
    font-size: 14px;
}

.productsList__buttons {
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    align-items: initial;
    width: 5%;
}

.productsList__button-edit,
.productsList__button-delete {
    width: 45%;
    background-color: transparent;
    border: none;
}

.productsList__icon {
    font-size: 14px;
}

.productsList__span {
    display: none;
}

@media (min-width: 769px) {
    .adminTitle__button {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        background-color: rgb(58, 121, 203);
        border: none;
        border-radius: 5px;
        padding: 0px 8px;
    }

    .adminTitle__span {
        display: flex;
        color: white;
        font-size: 14px;
    }

    .adminTitle__icon-create {
        color: white;
        font-size: 12px;
        margin-right: 5px;
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        background-color: rgb(250, 250, 250);
        border: 1px solid lightgray;
        border-radius: 2px;
        padding: 10px;
        margin-top: 35px;
        width: 100%;
    }

    .filter__div1 {
        width: 25%;
    }

    .filter__div2 {
        width: 20%;
        margin: 0px 10px;
    }

    .filter__div3 {
        width: 15%;
        margin-right: 10px;
    }

    .filter__input,
    .filter__select {
        width: 100%;
        border: 1px solid lightgray;
        /* font-style: italic; */
        font-size: 14px;
    }

    .filter__select {
        padding: 2px;
        padding-left: 10px;
    }

    .filter__input {
        padding: 3px;
        padding-left: 10px;
    }

    .filter__button {
        background-color: rgb(58, 121, 203);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0px 10px;
        /* width: 10%; */
    }

    .filter__icon {
        color: white;
        margin-right: 5px;
        font-size: 14px;
    }

    .titles {
        display: flex;
        justify-content: space-between;
        background-color: rgb(250, 250, 250);
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px solid lightgray;
        /* margin-top: 35px;
        border: 1px solid lightgray;
        border-radius: 2px; */
    }

    .titles__div1,
    .titles__div2,
    .titles__div3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .titles__div1,
    .productsList__div {
        width: 20%;
        justify-content: space-between;
    }

    .titles__checkbox {
        width: 12%;
    }

    .titles__div2,
    .productsList__info {
        width: 50%;
        justify-content: space-between;
    }

    .titles__div3 {
        width: 30%;
    }

    .titles__div4 {
        width: 35%;
    }

    .productsList__buttons {
        width: 21%;
    }

    .titles__div5 {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        width: 22%;
    }

    .titles__edit,
    .titles__delete {
        /* width: 45%; */
        width: 35%;
    }

    .titles__edit {
        margin-right: 15px;
    }

    .productsList {
        border: 1px solid lightgray;
        border-radius: 2px;
    }

    .productsList__container:first-child {
        margin-top: 10px;
    }

    .productsList__container {
        margin: 0px 10px;
        align-items: flex-start;
    }

    .titles__id,
    .productsList__id {
        width: 10%;
        text-align: center;
    }

    .titles__list {
        margin-left: 8px;
    }

    .titles__list,
    .titles__id,
    .titles__product,
    .titles__name,
    .titles__category,
    .titles__price,
    .titles__edit,
    .titles__delete {
        font-size: 14px;
        font-weight: 500;
        color: rgb(58, 121, 203);
    }

    .titles__product,
    .productsList__img {
        width: 25%;
    }

    .productsList__info {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .titles__name,
    .productsList__name {
        width: 35%;
    }

    .titles__category,
    .productsList__category {
        width: 30%;
    }

    .titles__price,
    .productsList__price {
        width: 15%;
        text-align: center;
    }

    .productsList__a-edit,
    .productsList__a-delete {
        text-decoration: none;
        padding: 0px 5px;
        border-radius: 3px;
    }

    .productsList__a-edit {
        background-color: rgb(58, 121, 203);
        padding-right: 15px;
        /* margin-right: 15px; */
        /* width: 45%; */
    }

    .productsList__a-delete {
        background-color: rgb(187, 64, 53);
        padding-right: 10px;
        /* width: 45%; */
    }

    .productsList__buttons {
        flex-direction: row;
        justify-content: space-around;
    }

    .productsList__button-edit,
    .productsList__button-delete {
        display: flex;
        /* flex-wrap: nowrap; */
        align-items: baseline;
    }

    .productsList__icon {
        color: white;
        padding-right: 5px;
        font-size: 12px;
    }

    .productsList__span {
        display: block;
        font-size: 14px;
        color: white;
    }
}