* {
    font-family: 'Catamaran';
    font-size: 16px;
    box-sizing: border-box;
  
}

body {
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.heading__p {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 auto;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.filter {
    padding: 10px 0px;
    margin-top: 30px;
}

.filter__button {
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.filter__button:active {
    border: 2px solid black;
}

.filter__icon-caret-down {
    padding-right: 10px;
    margin-right: 5px;
    text-align: left;
    border-right: 1px solid lightgray;
}

.filter-section {
    display: none;
}

.filter__button:active .filter-section{
    width: 60%;
    display: block;
    flex-wrap: wrap;
    background-color: white;
    border: solid 1px lightgray;
}

.reference-container {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 20px 0px 10px;
    border-bottom: 1px solid lightgray;
}

.reference {
    display: none;
}

/*.reference__location {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 10px;
    border-bottom: 1px solid lightgray;
}*/

.reference__div {
    display: flex;
    justify-content: flex-start;
}

.reference__a {
    text-decoration: none;
    margin-right: 5px;
}

.reference__button {
    border: none;
    background-color: transparent;
}

.reference__icon-filter {
    font-size: 14px;
}

.products-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}

.close {
    width: 90%;
    text-align: right;
    padding: 20px 0px;
    margin: 0 auto;
    border-bottom: solid 1px lightgray;
}

.close__button {
    border: none;
    background-color: transparent;
}

.close__x-icon {
    font-size: 20px;
}

.search {
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px lightgray
}

.search__div {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px; 
    border: 1px solid lightgray;
    border-radius: 30px;
}

.search__button {
    width: 20%;
    padding: 0px;
    padding-left: 5px;
}

.search__text {
    font-size: 14px;
    width: 75%;
    padding: 7px 0px 5px 5px;
    margin: 0 auto;
}

.search__icon {
    color: darkgray;
    font-size: 12px;
}

.search__button,
.search__text {
    border:none;
    background-color: transparent;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.categories__label {
    font-weight: bold;
    width: 90%;
    padding: 25px 15px 15px;
    /* border-top: solid 1px red; */
}

.categories__button {
    text-align: left;
    background-color: transparent;
    padding: 10px 0px;
    border: none;
}

.categories__a {
    text-decoration: none;
    font-size: 14px;
    width: 80%;
    border-bottom: solid 1px lightgray;
}

.categories__a:last-child {
    border: none;
}

.categories__button:active .categories__a {
    font-weight: 600;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__article {
    width: 47%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.products__img {
    width: 100%;
}

.products__name {
    font-weight: 600;
    text-align: center;
}

.products__price {
    font-weight: 300;
    text-align: center;
}

.products__button-add {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 5px;
    padding-top: 8px;
    margin-top: 5px;
}

.products__a:active .products__button-add {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.pruducts__icon-cart {
    color: white;
    padding: 0px;
    padding-left: 5px;
    font-size: 12px;
}

@media (min-width: 481px) {
    .products__article {
        width: 31%;
    }
}


@media (min-width: 769px){
    .filter {
        display: none;
    }

    .reference {
        display: block;
    }

    .reference__p {
        font-weight: 600;
    }

    .filter-section{
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 25%;
        height: 100%;       
    }

    .close {
        display: none;
    }

    .products {
        width: 70%;
        padding: 0px;
    }

    .products__article {
        width: 23%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
}