

* {
    font-family: 'Catamaran';
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    font-weight: 300;
}


main {
    width: 90%;
}
.userHeader__div {
    width:90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6951155462184874) 51%, rgba(0, 0, 0, 0) 100%);
    margin: 0 auto;
}

.userHeader__logo {
    display: flex;
    align-items: center;
}

.userHeader__logo img {
    width: 200px;
}

li {
    list-style: none;
}

.userHeader__avatar {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    margin: 0px 10px;
}

.userHeader__span {
    display: flex;
    color:white;
    margin-right: 10px;
     
}

.userNabvar_profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
   
}

.fa-sign-out, .fa-home {
    color:white;
    margin: 5px;
    font-size: 2em;
}

.dropdown-item p {
    color:white;
    font-size: 16px;
    font-family: 'Catamaran';
    font-weight: 300;
    border: none;
    align-items: baseline;
    padding: 2px;
    border-radius: 5%;
    background-color: rgb(206, 203, 203);  
    width:50px;
    text-align: center;
    border:double 2px transparent;
    border-radius:10px;
    background-origin: border-box;
    background-clip:content-box,border-box;
    background-color: rgba(248, 246, 246, 0.3);
    backdrop-filter:blur(2px);
    
}
 
.dropdown-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-decoration: none;
    height: 20%;
    margin-top: 50px;
    margin-left: 10px;
   
}

.userHeader__icon {
    color: white;
    padding:5px;
    
}





















/*.user__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10%;
    background-color: rgb(44, 51, 57);
}

.admin__container__div {
    margin: 0 auto;
    width: 90%;
}

.user__button {
    background-color: transparent;
    border: none;
}

.user__a {
    padding: 10px;
}

.user__a:not(.user__img-avatar:last-child) {
    border-bottom: 1px solid white;
}

.user__a:active {
    background-color: rgb(218, 165, 32, 0.6);
}

.user__span {
    display: none;
}

.user__icon {
    color: white;
}