<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/cart3.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section class="heading">
        <p class="heading__p">CARRITO DE COMPRAS</p>
    </section>

    <main>
        <%- include('../partials/cartSteps') %>

        <section class="container3">
            <div class="billing">
                <div class="billing__title">
                    <p>DATOS DE FACTURACIÓN</p>
                </div>
                <form class="billing__form" action="#" method="GET">
                    <div class="billing__div">
                        <label class="billing__label" for="payment">Medio de pago *</label>
                        <select class="billing__select" name="payment" id="payment" required>
                            <option value="credit">Tarjeta de crédito/débito</option>
                            <option value="cash">Efectivo</option>
                        </select>
                    </div>

                    <label class="billing__label" for="cedit-number">Número de tarjeta *</label>
                    <input class="billing__input" type="text" name="cedit-number" id="cedit-number" required>

                    <div class="billing__credit-info">
                        <div class="billing__credit-info-div">
                            <label  for="expiration">Vencimiento *</label>
                            <input class="billing__input" type="text" name="expiration" id="expiration" required>
                        </div>
                        <div class="billing__credit-info-div">
                            <label  for="cvv">CVV *</label>
                            <input class="billing__input" type="text" name="cvv" id="cvv" required>
                        </div>
                        <div class="billing__credit-info-div">
                            <label  for="mensual-fee">Cuotas *</label>
                            <select class="billing__select" name="mensual-fee" id="mensual-fee">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>

                    <label class="billing__label" for="cardholder">Titular de la tarjeta *</label>
                    <input class="billing__input" type="text" name="cardholder" id="cardholder" required>

                    <div class="billing__dni">
                        <div class="billing__dni-div">
                            <label class="billing__label" for="document">Documento *</label>
                            <select class="billing__select" name="document" id="document" required>
                                <option value="dni">DNI</option>
                                <option value="le">Libreta de Enrolamiento</option>
                                <option value="lc">Libreta Cívica</option>
                            </select>
                        </div>
                        <div class="billing__dni-div">
                            <label class="billing__label" for="doc-number">Nº de documento *</label>
                            <input class="billing__input" type="text" name="doc-number" id="doc-number" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="order">
                <div class="order__title">
                    <p>TU ORDEN</p>
                </div>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Cookie de chocolate</p>
                        <p class="order__quantity">x 2</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Cookie de avena</p>
                        <p class="order__quantity">x 1</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Alfajor de maicena</p>
                        <p class="order__quantity">x 1</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <div class="continue-buying">
                    <div class="checkout">
                        <div class="checkout__subtotal">
                            <p>Subtotal</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__bonus">
                            <p>Bonificación</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__shipping">
                            <p>Envío</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__total">
                            <p>TOTAL</p>
                            <p>$0.00</p>
                        </div>
                    </div>
                    <div class="buy">
                        <a class="buy__a" href="#">
                            <button class="buy__button" type="submit">FINALIZAR COMPRA</button>
                        </a>
                    </div>
                </div>
            </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>